<a href="https://colab.research.google.com/github/Angorith/acorn_python/blob/main/0512_5%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88_5_(pandas%5B%EC%A3%BC%EC%8B%9D_%EC%B0%A8%ED%8A%B8%5D%2C_%EC%9C%A0%EB%8B%89%EC%8A%A4(%ED%8C%8C%EC%9D%BC_%EB%8B%A4%EB%A3%A8%EB%8A%94%EB%B2%95)).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
c_tuple = (1,)

In [ ]:
type(c_tuple)

tuple

In [ ]:
pack = 1,2,3,4,5

In [ ]:
x, *y, z =pack

In [ ]:
x,y,z

(1, [2, 3, 4], 5)

In [ ]:
pack

(1, 2, 3, 4, 5)

In [ ]:
d_set = set(pack)

In [ ]:
d_set

{1, 2, 3, 4, 5}

In [ ]:
e_dict = {1:10,2:'two'}

In [ ]:
e_dict[1]

10

In [ ]:
e_dict[3]='three'

In [ ]:
for i in e_dict.keys():
  print(i)  #key만 보여줌

1
2
3

In [ ]:
for i in e_dict.values():
  print(i)

10
two
three

In [ ]:
for i in e_dict.items():
  print(i)

(1, 10)
(2, 'two')
(3, 'three')

In [ ]:
pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
pip install --upgrade pandas-datareader

Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 7.6 MB/s
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.2.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Installing collected packages: pandas-datareader
  Attempting uninstall: pandas-datareader
    Found existing installation: pandas-datareader 0.9.0
    Uninstalling pandas-datareader-0.9.0:
      Successfully uninstalled pandas-datareader-0.9.0
Successfully installed pandas-datareader-0.10.0

In [ ]:
import pandas_datareader.data as web

In [ ]:
data = {ticker:web.get_data_yahoo(ticker) for ticker in ['AAPL','IBM','MSFT','GOOG']}

In [ ]:
data['GOOG']

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-05-15,938.250000,929.340027,932.950012,937.080017,1108100,937.080017
2017-05-16,943.109985,937.580017,940.000000,943.000000,969500,943.000000
2017-05-17,939.333008,918.140015,935.669983,919.619995,2362100,919.619995
2017-05-18,933.169983,918.750000,921.000000,930.239990,1596900,930.239990
2017-05-19,937.755005,931.000000,931.469971,934.010010,1393000,934.010010
...,...,...,...,...,...,...
2022-05-05,2424.665039,2303.649902,2404.409912,2334.929932,2154500,2334.929932
2022-05-06,2349.969971,2282.860107,2310.379883,2313.199951,1764000,2313.199951
2022-05-09,2311.258057,2251.030029,2266.070068,2261.679932,1726000,2261.679932
2022-05-10,2333.820068,2267.666016,2320.810059,2291.689941,1557900,2291.689941
2022-05-11,2333.219971,2273.000000,2274.209961,2279.219971,1825082,2279.219971

In [ ]:
sample_data = {i:i*10 for i in [1,2,3,4] if i%2==0 }

In [ ]:
sample_data

{2: 20, 4: 40}

In [ ]:
sample_data = {inum:item for inum, item in enumerate([10,20,30,40])}

In [ ]:
sample_data

{0: 10, 1: 20, 2: 30, 3: 40}

In [ ]:
sample_data = {i:'회사이름 = ' + i for i in ['AAPL','IBM','MSFT','GOOG']}

In [ ]:
sample_data

{'AAPL': '회사이름 = AAPL',
 'GOOG': '회사이름 = GOOG',
 'IBM': '회사이름 = IBM',
 'MSFT': '회사이름 = MSFT'}

In [ ]:
sample_data = {inum+1:item for inum, item in enumerate([10,20,30,40])}

In [ ]:
sample_data

{1: 10, 2: 20, 3: 30, 4: 40}

In [ ]:
numb = [2,7,11,15]
target = 9

In [ ]:
for i in numb:
  for j in numb:
    sums = i+j
    if sums ==9:
      print(numb.index(i), numb.index(j))

0 1
1 0

In [ ]:
for inum, item in enumerate(numb):
  diff = target-item
  print(target,item,diff)

9 2 7
9 7 2
9 11 -2
9 15 -6

In [ ]:
target = 9
for i ,j in enumerate(a):
  if (target-j) in a:
    print(i,a.index(target-j))

0 1
1 0

In [ ]:
7 in a

True

# 프로그램 평가

필수 요서 : 문제 해결, 정확성

습관 : 문서화, 모듈회. 가독성 향상

효율성 : 공간(메모리) 효율, 시간 효율

성능측정 : 실제 프로그램을 실행시켜 시간을 측정 => 프로그램 실행환경에 따라 달라짐

성능 분석: 프로그램을 실행시키지 않고 성능을 확인 하는것 = 모의 실험과 복잡도가 있다.

공간 복잡도 : 메모리

시간 복잡도 : 프로그램 실행에 걸리는 시간

전체 프로그램 실행 걸리는 시간 = 컴파일 시간 + 코드 수행시간

컴파일 시간 = 고정적, 1회만 필요
코드 수행 시간 = 프로그램 단계수를 사용하여 측정

프로그램 단계수 : 프로그램의 분벅적인 또는 논리적인 단위
프로그램 수행 환경과 무관하게 프로그램의 시간을 측정하는 단위로 프로그램 단계수 사용


프로그램 단계수 계산 방법

Float sum(float list[],int n){

    float tempsum = 0;

    int i;

    for (i=0,i<n;i++)

      tempsum +=list[i]:

    return tempsum;

}
Total = 2n +3

In [ ]:
numb_dict = {}    #dict 선언
for inum,item in enumerate(numb): 
  numb_dict[item]=inum
  print(f'key={item},value={inum}')   #확인


for inum2, item2 in enumerate(numb):
  diff = target - item2     #target = 9, item2 = 2,7,11,15 diff = 7,2,-2,-6
  if diff in numb_dict and inum2 != numb_dict[diff]:
    print(inum2, numb_dict[diff])

key=2,value=0
key=7,value=1
key=11,value=2
key=15,value=3
0 1
1 0

In [ ]:
numb_dict = {}    #dict 선언
for inum,item in enumerate(numb): 
  numb_dict[item]=inum
  #print(f'key={item},value={inum}')   #확인


for inum2, item2 in enumerate(numb):
  diff = target - item2     #target = 9, item2 = 2,7,11,15 diff = 7,2,-2,-6
  if diff in numb_dict:
    print(inum2,numb_dict[diff])

0 1
1 0

In [ ]:
numb

[2, 7, 11, 15]

In [ ]:
numb_dict

{2: 0, 7: 1, 11: 2, 15: 3}

inum2 = 1, item2 = 7, diff =2

if 2 in numb_dict True"1 0"

In [ ]:
target = 8,

In [ ]:
def TwoSumShortDict(numb, target):

# **파일열기**

In [ ]:
f = open('New File.txt','w')

* open('파일 이름','r=읽기모드,w=쓰기모드')
*f = 파일 객체

In [ ]:
f.close()

In [ ]:
def add_(a,b):
  return a+b

In [ ]:
result = add_(1,2)

In [ ]:
result

3

In [ ]:
f = open('New File.txt','w')
print(f)

<_io.TextIOWrapper name='New File.txt' mode='w' encoding='UTF-8'>

In [ ]:
f.close()

# **파일 쓰기**

In [ ]:
file = open('New File.txt','w')

In [ ]:
file.write("파이썬 월드에 오신 것을 환영합니다.\n 여기서 세상을 배워가세요.")

36

In [ ]:
file.close()

In [ ]:
file = open('New File.txt','w')
file.writelines(['1','2','4','35'])
file.close()

1. 새로운 파일을 추가 후 1-10까지 수 입력

**파일 내용 추가**

In [ ]:
data = "으로 이루어지는 파이썬 세상"
f = open('New File.txt','a')
f.write(data)
f.close()

**반복문**

In [ ]:
a = 0
f = open('New File.txt','at')
while a < 10:
  data = "%d 숫자 \n" %a
  f.write(data)
  a=a+1

In [ ]:
cat test

cat: test: No such file or directory

**연습문제**

In [ ]:
f = open('loop.txt','w')

In [ ]:
f = open('loop.txt','w')
a=0
while a<=101:
  data = "%d "%a
  f.write(data)
  a=a+1
f.close()
cat loop.txt

In [ ]:
cat loop.txt

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101

In [ ]:
f = open('practice.txt','w')

In [ ]:
f = open('practice.txt','w')
for i in range(13):
  f.write("제"+ str(i) + "의 아해가 무섭다고그리오\n")
  #f.write(f"제"+ str{i} + "의 아해가 무섭다고그리오\n")
f.close()
cat practice.txt

In [ ]:
cat practice.txt

제0의 아해가 무섭다고그리오
제1의 아해가 무섭다고그리오
제2의 아해가 무섭다고그리오
제3의 아해가 무섭다고그리오
제4의 아해가 무섭다고그리오
제5의 아해가 무섭다고그리오
제6의 아해가 무섭다고그리오
제7의 아해가 무섭다고그리오
제8의 아해가 무섭다고그리오
제9의 아해가 무섭다고그리오
제10의 아해가 무섭다고그리오
제11의 아해가 무섭다고그리오
제12의 아해가 무섭다고그리오

**파일 내용 읽기 read(),모드 r**

In [ ]:
f = open('practice.txt','r')
f.read()
f.close()

In [ ]:
f= open('practice.txt','r')
a=f.read()      #a에 읽은 내용 저장하기
print(a)
f.close()

제0의 아해가 무섭다고그리오
제1의 아해가 무섭다고그리오
제2의 아해가 무섭다고그리오
제3의 아해가 무섭다고그리오
제4의 아해가 무섭다고그리오
제5의 아해가 무섭다고그리오
제6의 아해가 무섭다고그리오
제7의 아해가 무섭다고그리오
제8의 아해가 무섭다고그리오
제9의 아해가 무섭다고그리오
제10의 아해가 무섭다고그리오
제11의 아해가 무섭다고그리오
제12의 아해가 무섭다고그리오

In [ ]:
a[:24]

'제0의 아해가 무섭다고그리오\n제1의 아해가 '

In [ ]:
len(a)

211

In [ ]:
f=open('practice.txt','r')
f.readline()
f.readline()
f.readline()
f.readlines()
f.close()

**# 예외처리**

In [ ]:
f=open('python.txt','r')

FileNotFoundError: ignored

In [ ]:
numb=[2,7,11,15]
target =9
numb_dict ={}

for inum,item in enumerate(numb): 
  numb_dict[item]=inum
  #print(f'key={item},value={inum}')   #확인

In [ ]:
numb_dict

{2: 0, 7: 1, 11: 2, 15: 3}

In [ ]:
for inum2, item2 in enumerate(numb):
  diff = target - item2   
  if diff in numb_dict:
    print(target,inum2,item2,diff,numb_dict[diff])
    print(inum2,numb_dict[diff])

9 0 2 7 1
0 1
9 1 7 2 0
1 0

target = 9, item2 = 2,7,11,15 diff = 7,2,-2,-6

In [ ]:
for inum2, item2 in enumerate(numb):
  diff = target - item2   
  print(inum2,item2,diff,numb_dict.get(diff))
  if diff in numb_dict:
    pass
    #print(inum2,numb_dict[diff])

0 2 7 1
1 7 2 0
2 11 -2 None
3 15 -6 None

In [ ]:
f = open('practice.txt','r')

In [ ]:
a = f.readlines()

In [ ]:
f.close()

In [ ]:
data=[]
for i in a:

  data.append(i.strip('\n'))

In [ ]:
data

['제0의 아해가 무섭다고그리오',
 '제1의 아해가 무섭다고그리오',
 '제2의 아해가 무섭다고그리오',
 '제3의 아해가 무섭다고그리오',
 '제4의 아해가 무섭다고그리오',
 '제5의 아해가 무섭다고그리오',
 '제6의 아해가 무섭다고그리오',
 '제7의 아해가 무섭다고그리오',
 '제8의 아해가 무섭다고그리오',
 '제9의 아해가 무섭다고그리오',
 '제10의 아해가 무섭다고그리오',
 '제11의 아해가 무섭다고그리오',
 '제12의 아해가 무섭다고그리오']

In [ ]:
try :
  f=open('python.txt','r')
except:
  print('파일을 읽을 때 오류가 발생했습니다.')

파일을 읽을 때 오류가 발생했습니다.

In [ ]:
try :
  f =open('python.txt','r')
except FileNotFoundError:
  print('파일을 찾을 수 없습니다.')

In [ ]:
is

SyntaxError: ignored

In [ ]:
try :
  b[40]
except Except as e:
  pass

NameError: ignored

In [ ]:
f=open('test.txt','w')
for i in range(1,14):
  f.write('제'+str(i)+'의아해\n')
f.close()

In [ ]:
cat test.txt

제1의아해
제2의아해
제3의아해
제4의아해
제5의아해
제6의아해
제7의아해
제8의아해
제9의아해
제10의아해
제11의아해
제12의아해
제13의아해

In [ ]:
file_name = 'test.txt'
f=open(file_name)

while True:
  a=f.readline()
  if not a:
    break
  raw = a.split()
  print(raw)
f.close()

['제1의아해']
['제2의아해']
['제3의아해']
['제4의아해']
['제5의아해']
['제6의아해']
['제7의아해']
['제8의아해']
['제9의아해']
['제10의아해']
['제11의아해']
['제12의아해']
['제13의아해']

In [ ]:
file_name = 'test.txt'
f=open(file_name)
a=f.readline()

while a :
    print (a)
    a = f.readline()
f.close()

제1의아해

제2의아해

제3의아해

제4의아해

제5의아해

제6의아해

제7의아해

제8의아해

제9의아해

제10의아해

제11의아해

제12의아해

제13의아해

In [ ]:
if None:
  print('ok')

In [ ]:
try:

  except Exception as e:
    pass

# **예외 처리 (else, finally)**

In [ ]:
try:
  f = open('python.txt','r')
except FileNotFoundError:
  print('파일을 찾을 수 없습니다.')
else:
  a= f.read()
  print(a)
  f.close()

파일을 찾을 수 없습니다.

In [ ]:
try:
  f = open('python.txt','r')
except FileNotFoundError:
  pass
else:
  a =f.read()
  print(a)
  f.close()
finally :
  print('작업을 모두 마쳤습니다.')

작업을 모두 마쳤습니다.

In [ ]:
a = {'홍길동':'2000년 3월 1일', '김춘추' : '604년'}

In [ ]:
a

{'김춘추': '604년', '홍길동': '2000년 3월 1일'}

In [ ]:
a = {'홍길동':'2000년 3월 1일', '김춘추' : '604년'}
try:
  b = a.value
  input('생일을 알고 싶은 사람을 입력하세요')
except FileNotFoundError:
  print('데이터베이스에 존재하지 않는 이름입니다.')
else:
  print(b)

생일을 알고 싶은 사람을 입력하세요홍길동

AttributeError: ignored

In [ ]:
a = {'홍길동':'2000년 3월 1일', '김춘추' : '604년'}
b = input('생일을 알고 싶은 사람을 입력하세요')
try:
  print(a[b])   #(딕셔너리[입력받은 value출력])
  
except Exception as e:
  print('데이터베이스에 존재하지 않는 이름입니다.')

생일을 알고 싶은 사람을 입력하세요이황
데이터베이스에 존재하지 않는 이름입니다.

In [ ]:
x=int(280)
a = int(input('데미지를 몇 입었습니까 : '))
while a !='save':
  x=x-a
  print(f'현재 체력은 {x}입니다')
  if x ==0:
    break

데미지를 몇 입었습니까 : save

ValueError: ignored

In [ ]:
file = open('heath.txt','w')

In [ ]:
file.write("현재 체력은 280입니다.")

14

In [ ]:
cat heath.txt

현재 체력은 280입니다.

In [ ]:
f = open('score.txt', 'w')
hp = 280

while 1:
    print("현재 체력은 %d 입니다." %hp)
    a = input("데미지를 몇 입었습니까 : ")
    
    if a == "save":
        print("저장했습니다.")
        break

    else:
        hp -= int(a)

f.write('%s' % hp)
f.close()

현재 체력은 280 입니다.
데미지를 몇 입었습니까 : 10
현재 체력은 270 입니다.
데미지를 몇 입었습니까 : 50
현재 체력은 220 입니다.
데미지를 몇 입었습니까 : 100
현재 체력은 120 입니다.
데미지를 몇 입었습니까 : save
저장했습니다.

In [ ]:
hp=280
print(f'현재 체력은 : {hp}')
hit=''
while hp>0 and hit !='save':
  hit = input('데미지를 입었습니까?')
  if hit =='save':
    f=open('save.txt','w')
    f.write(str(hp))
    f.close()
  else:
    hit = int(hit)
    hp -= hit
    print(f'체력이 {hp} 남았습니다.')

현재 체력은 : 280
데미지를 입었습니까?200
체력이 80 남았습니다.
데미지를 입었습니까?save

In [ ]:
file_name = 'score'
score_list = [80,90,100,50,60,95]
f= open(file_name,'w')
for i in score_list:
  f.write(str(i)+'\n')
f.close()

In [ ]:
cat score

80
90
100
50
60
95

In [ ]:
f=open(file_name)
sc = f.readlines()
f.close()

In [ ]:
sc

['80\n', '90\n', '100\n', '50\n', '60\n', '95\n']

In [ ]:
sums = 0
for i in sc:
  sc_int = int(i.strip('\n'))
  sums += sc_int
avg = sums/len(sc)
print(sums, avg)

475 79.16666666666667

In [ ]:
int('80\n')

80

In [ ]:
map(int,sc)

In [ ]:
for i in map(int,sc):
  print(i)

80
90
100
50
60
95

In [ ]:
sc = list(map(int,sc))

In [ ]:
sc

[80, 90, 100, 50, 60, 95]

In [ ]:
f = open('score2.txt','w')
f.write('80\n')
f.write('90\n')
f.write('100\n')
f.write('50\n')
f.write('60\n')
f.write('95')


data = []
sums= 0
lines = f.readlines()

for line in lines :
  data.append(line)
for i in range(0,len(data)):
  sum += int(data[i])

avg = sum/len(data)
print(sum)
print(avg)

f.close()

UnsupportedOperation: ignored

In [ ]:
f = open('score2.txt','r')

lines = f.read().splitlines() #한줄씩 문자열 읽기 
data = []
sum=0

for line in lines:
    data.append(line)

for i in range(0,len(data)):
    sum += int(data[i])

avg = sum/len(data)
print(data)
print(f'전체 합은 {sum}입니다.')
print(f'전체 평균은{avg}입니다.')

f.close()

['80', '90', '100', '50', '60', '95']
전체 합은 475입니다.
전체 평균은79.16666666666667입니다.

In [ ]:
with open(file_name)as f:
  sc = f.readlines

In [ ]:
%%writefile main.c
#include<studio.h>

int main(){
    printf("c code"):
    return 0;
}

Writing main.c

In [ ]:
%%shell
gcc main.c
./a.out
ls

main.c:1:9: fatal error: studio.h: No such file or directory
 #include<studio.h>
         ^~~~~~~~~~
compilation terminated.
/bin/bash: line 1: ./a.out: No such file or directory
main.c	sample_data  score

In [ ]:
ls

main.c  sample_data/  score

In [ ]:
rm *.txt

In [ ]:
ls

main.c  sample_data/  score3

In [ ]:
!cat score

80
90
100
50
60
95

In [ ]:
!more score

80
90
100
50
60
95

In [ ]:
!tail score

80
90
100
50
60
95

In [ ]:
%%writefile score.py
file_name = 'test.b'
s = '에이지오브 울트론, 아바타, 인터스텔라, 유스,조커'
with open(file_name,'wb') as f:
  f.write(s.encode('cp949'))

Overwriting score.py

In [ ]:
ls

main.c  sample_data/  score  score.py

In [ ]:
%run score.py

In [ ]:
ls

main.c  sample_data/  score  score.py  test.b

In [ ]:
cat test.b

���������� ��Ʈ��, �ƹ�Ÿ, ���ͽ��ڶ�, ����,��Ŀ

In [ ]:
with open(file_name, 'rb')as f:
  b_sentence = f.read()

In [ ]:
b_sentence.decode('cp949')

'에이지오브 울트론, 아바타, 인터스텔라, 유스,조커'

In [ ]:
ord('a')

97

In [ ]:
import pickle

In [ ]:
s

'에이지오브 울트론, 아바타, 인터스텔라, 유스,조커'

In [ ]:
my_list = ['mac book','toure']
my_dict = {'영화':s, '연습장':'colab'}

In [ ]:
with open('data.pickle','wb')as f:
  pickle.dump(my_list,f)
  pickle.dump(my_dict, f)

In [ ]:
ls

data.pickle  main.c  sample_data/  score  score.py  test.b

In [ ]:
cat data.pickle

�]q (X   mac bookqX   toureqe.�}q (X   영화qXD   에이지오브 울트론, 아바타, 인터스텔라, 유스,조커qX	   연습장qX   colabqu.

In [ ]:
with open('data.pickle','rb')as f :
  x = pickle.load(f)
  y= pickle.load(f)

In [ ]:
x

['mac book', 'toure']

In [ ]:
y

{'연습장': 'colab', '영화': '에이지오브 울트론, 아바타, 인터스텔라, 유스,조커'}