<a href="https://colab.research.google.com/github/Angorith/acorn_python/blob/main/0513_6%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88_6_(%EC%9C%A0%EB%8B%88%EC%BD%94%EB%93%9C%2C_pandas%5B%EC%A3%BC%EC%8B%9D%EC%B0%A8%ED%8A%B82%2C_dataframe%5D%2C_pickle%2C_%ED%95%A8%EC%88%981).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**유니코드 문자열을 바이트의 열로 반환하는 것을 인코딩이라고 한다. **

In [ ]:
%%writefile main.c
#include <studio.h>

int main()
{
    char number1 ='A';
    int number2 = 0;
    printf("number1 = %d, %#o, %#x, %#c\n", number1, number1, number1, number1);
    printf("number2 = %d, %#o, %#x, %#c", number2, number2, number2, number2);
 
    return 0;
}

Overwriting main.c

In [ ]:
%%shell
gcc main.c
./a.out

main.c:1:10: fatal error: studio.h: No such file or directory
 #include <studio.h>
          ^~~~~~~~~~
compilation terminated.
/bin/bash: line 1: ./a.out: No such file or directory

CalledProcessError: ignored

48= 0011 0000



0000 0001

1111 1110
+1

1111 1111

In [ ]:
%ls

main.c  sample_data/

In [ ]:
f = open('test.b','wd')
f.write
f.close

In [ ]:
%%writefile score.py
file_name = 'test.b'
s = '에이지 오브 울트론'
with open(file_name, 'wb')as f:
  f.write(s.encode('cp949'))

Overwriting score.py

In [ ]:
%run score.py

In [ ]:
cat test.b

������ ���� ��Ʈ�

In [ ]:
file_name = 'test.b'
s = '에이지 오브 울트론'
with open(file_name, 'wb')as f:
  f.write(s.encode('cp949'))

In [ ]:
cat test.b

������ ���� ��Ʈ�

In [ ]:
with open(file_name, 'rb')as f:
  se = f.read()

In [ ]:
se.decode('cp949')

'에이지 오브 울트론'

In [ ]:
import pandas

In [ ]:
pip install --upgrade pandas-datareader

Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.2.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)

In [ ]:
import pandas_datareader.data as web

In [ ]:
data = {i:web.get_data_yahoo(i) for i in ['AAPL','IBM','MSFT','GOOG']}

In [ ]:
data.keys()

dict_keys(['AAPL', 'IBM', 'MSFT', 'GOOG'])

In [ ]:
data['AAPL']

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-05-15,39.162498,38.762501,39.002499,38.924999,104038800.0,36.848980
2017-05-16,39.014999,38.680000,38.985001,38.867500,80194000.0,36.794548
2017-05-17,38.642502,37.427502,38.400002,37.562500,203070800.0,35.559143
2017-05-18,38.334999,37.782501,37.817501,38.134998,134272800.0,36.101105
2017-05-19,38.494999,38.157501,38.345001,38.264999,107843200.0,36.224171
...,...,...,...,...,...,...
2022-05-06,159.440002,154.179993,156.009995,157.279999,116055700.0,157.279999
2022-05-09,155.830002,151.490005,154.929993,152.059998,131577900.0,152.059998
2022-05-10,156.740005,152.929993,155.520004,154.509995,115366700.0,154.509995
2022-05-11,155.449997,145.809998,153.500000,146.500000,142689800.0,146.500000
2022-05-12,146.190002,138.800003,142.770004,142.559998,182602041.0,142.559998

In [ ]:
data['AAPL'].to_csv('aapl.csv')

In [ ]:
cat aapl.csv

In [ ]:
import pandas as pd

In [ ]:
price = pd.DataFrame({i:data_frame['Close']for i, data_frame in data.items()})

In [ ]:
price

                  AAPL         IBM        MSFT         GOOG
Date
2017-05-15   38.924999  144.847031   68.430000   937.080017
2017-05-16   38.867500  146.921600   69.410004   943.000000
2017-05-17   37.562500  144.292542   67.480003   919.619995
2017-05-18   38.134998  144.149139   67.709999   930.239990
2017-05-19   38.264999  145.296371   67.690002   934.010010
...                ...         ...         ...          ...
2022-05-06  157.279999  137.669998  274.730011  2313.199951
2022-05-09  152.059998  134.440002  264.579987  2261.679932
2022-05-10  154.509995  129.130005  269.500000  2291.689941
2022-05-11  146.500000  130.750000  260.549988  2279.219971
2022-05-12  142.559998  132.899994  255.350006  2263.219971

[1259 rows x 4 columns]

In [ ]:
price_year = price.resample('A').agg(['count','mean','max','min'])

In [ ]:
price_year

            AAPL                                       IBM              \
           count        mean         max         min count        mean
Date
2017-12-31   160   39.688031   44.105000   35.567501   160  143.247670
2018-12-31   251   47.263357   58.017502   36.707500   251  137.529233
2019-12-31   252   52.063988   73.412498   35.547501   252  130.964218
2020-12-31   253   95.347075  136.690002   56.092499   253  118.929519
2021-12-31   252  140.989365  180.330002  116.360001   252  128.959140
2022-12-31    91  166.546154  182.009995  142.559998    91  130.982638

                                    MSFT                                      \
                   max         min count        mean         max         min
Date
2017-12-31  154.942642  133.556412   160   75.922813   86.849998   67.480003
2018-12-31  161.682602  102.839386   251  101.033984  115.610001   85.010002
2019-12-31  144.703629  107.944550   252  130.382024  158.960007   97.400002
2020-12-31  149.866150   90.602295   253  193.026126  231.649994  135.419998
2021-12-31  144.627151  113.365204   252  275.940754  343.109985  212.250000
2022-12-31  139.850006  121.349998    91  295.466374  334.750000  255.350006

            GOOG
           count         mean          max          min
Date
2017-12-31   160   969.955814  1077.140015   898.700012
2018-12-31   251  1113.225134  1268.329956   976.219971
2019-12-31   252  1188.393057  1361.170044  1016.059998
2020-12-31   253  1481.403811  1827.989990  1056.619995
2021-12-31   252  2510.613731  3014.179932  1728.239990
2022-12-31    91  2647.538250  2960.729980  2261.679932

In [ ]:
price_year.to_csv('annual_stock.csv')

In [ ]:
cat annual_stock.csv

,AAPL,AAPL,AAPL,AAPL,IBM,IBM,IBM,IBM,MSFT,MSFT,MSFT,MSFT,GOOG,GOOG,GOOG,GOOG
,count,mean,max,min,count,mean,max,min,count,mean,max,min,count,mean,max,min
Date,,,,,,,,,,,,,,,,
2017-12-31,160,39.688031220436095,44.10499954223633,35.567501068115234,160,143.2476697921753,154.94264221191406,133.55641174316406,160,75.92281284332276,86.8499984741211,67.4800033569336,160,969.9558135986329,1077.1400146484375,898.7000122070312
2018-12-31,251,47.263356698936676,58.01750183105469,36.70750045776367,251,137.52923325618426,161.68260192871094,102.83938598632812,251,101.03398411967365,115.61000061035156,85.01000213623047,251,1113.225134131443,1268.3299560546875,976.219970703125
2019-12-31,252,52.063988049825035,73.4124984741211,35.54750061035156,252,130.96421762496706,144.70362854003906,107.94454956054688,252,130.38202400813026,158.9600067138672,97.4000015258789,252,1188.393057444739,1361.1700439453125,1016.0599975585938
2020-12-31,253,95.34707487807444,136.69000244140625,56.092498779296875,253,118.92951862802619,149.86614990234375,90.602294921875,253,193.02612642431447,231.64999389648438,135.4199981689453,253,1481.4038110062068,1827.989990234375,1056.6199951171875
2021-12-31,252,140.98936516898019,180.3300018310547,116.36000061035156,252,128.95913962712365,144.6271514892578,113.36520385742188,252,275.94075375511534,343.1099853515625,212.25,252,2510.613731263176,3014.179931640625,1728.239990234375
2022-12-31,91,166.54615398029705,182.00999450683594,142.55999755859375,91,130.98263801323188,139.85000610351562,121.3499984741211,91,295.46637365320225,334.75,255.35000610351562,91,2647.5382495922045,2960.72998046875,2261.679931640625

In [ ]:
price_year_array = price_year.values

In [ ]:
price_year_array.shape

(6, 16)

In [ ]:
import pickle

In [ ]:
file_name = 'stock.pickle'

In [ ]:
with open(file_name,'wb') as f:
  pickle.dump(price_year,f)

In [ ]:
cat stock.pickle

In [ ]:
with open(file_name,'rb') as f:
  x = pickle.load(f)

In [ ]:
x

            AAPL                                       IBM              \
           count        mean         max         min count        mean
Date
2017-12-31   160   39.688031   44.105000   35.567501   160  143.247670
2018-12-31   251   47.263357   58.017502   36.707500   251  137.529233
2019-12-31   252   52.063988   73.412498   35.547501   252  130.964218
2020-12-31   253   95.347075  136.690002   56.092499   253  118.929519
2021-12-31   252  140.989365  180.330002  116.360001   252  128.959140
2022-12-31    91  166.546154  182.009995  142.559998    91  130.982638

                                    MSFT                                      \
                   max         min count        mean         max         min
Date
2017-12-31  154.942642  133.556412   160   75.922813   86.849998   67.480003
2018-12-31  161.682602  102.839386   251  101.033984  115.610001   85.010002
2019-12-31  144.703629  107.944550   252  130.382024  158.960007   97.400002
2020-12-31  149.866150   90.602295   253  193.026126  231.649994  135.419998
2021-12-31  144.627151  113.365204   252  275.940754  343.109985  212.250000
2022-12-31  139.850006  121.349998    91  295.466374  334.750000  255.350006

            GOOG
           count         mean          max          min
Date
2017-12-31   160   969.955814  1077.140015   898.700012
2018-12-31   251  1113.225134  1268.329956   976.219971
2019-12-31   252  1188.393057  1361.170044  1016.059998
2020-12-31   253  1481.403811  1827.989990  1056.619995
2021-12-31   252  2510.613731  3014.179932  1728.239990
2022-12-31    91  2647.538250  2960.729980  2261.679932

In [ ]:
def add_(a,b):
  return(a+b)

In [ ]:
add_(10,20)

30

In [ ]:
def add_():
  '''
  합계를 구하는 함수
  파라미터 : a, b
  a= 정수
  b = 정수
  결과 : 정수형 자료
  예저 > add_(10,20)
  '''

  a = 10
  b= 20 
  return(a+b)

In [ ]:
add_()

TypeError: ignored

In [ ]:
가 = 10

In [ ]:
def greet(name):
  '''
  This function greets to 
  the person passed in as 
  a parameter
  '''

  print('Hello, ' + name + '. Good morning!' )

greet('Paul')

Hello, Paul. Good morning!

In [ ]:
def minuss(height , width):
  return height-width

print('positional arguments (10,100) : ' , minuss(10,100))
print('positional arguments (100,10) : ' , minuss(100,10))
print('keyword arguments (width = 100, height = 10) : ' , minuss(width = 100,height = 10))
print('positional & keyword arguments (100,width = 10) : ' , minuss(100, width = 10))
#print('positional & keyword arguments (100,width = 10) : ' , minuss(100, height = 10))

positional arguments (10,100) :  -90
positional arguments (100,10) :  90
keyword arguments (width = 100, height = 10) :  -90
positional & keyword arguments (100,width = 10) :  90

In [ ]:
try:
    minuss(10, height=100)
except Exception as e :
  #pass
  print(e)

minuss() got multiple values for argument 'height'

In [ ]:
def my_sum(*integers):
  result = 0
  #print(integers)
  for x in integers:
    result+=x
  return result

#print(my_sum(1,2,3))
result_from_my_sum = my_sum(10,20,30,40)
print(result_from_my_sum)

100

In [ ]:
def string_sum(**words):
  result = 0
  print(words)
  for arg in words.values():
    print(arg)
    result+= arg
  return result

print(string_sum(a=10,b=20,c=30,d=40,e=50))

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
10
20
30
40
50
150

In [ ]:
def g(a,b,*args,**kwargs):
  print(a,b)
  print(args)
  print(kwargs)

g(1,2,3,4,c=5,d=6)
g(10,3,4,c=5,d=6)
g(100,b=20,c=7)

1 2
(3, 4)
{'c': 5, 'd': 6}
10 3
(4,)
{'c': 5, 'd': 6}
100 20
()
{'c': 7}

a =1 ,b=2
args = (3,4)
kwargs = {'c': 5, 'd': 6}

(10 ,3 (4,){'c': 5, 'd': 6}

(100 20,() ,{'c' : 7}

In [ ]:
g(1)

TypeError: ignored

In [ ]:
dir

In [ ]:
dir()

['In',
 'Out',
 '_',
 '_12',
 '_16',
 '_26',
 '_3',
 '_31',
 '_4',
 '_41',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_exit_code',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_sh',
 'add_',
 'data',
 'exit',
 'f',
 'file_name',
 'g',
 'get_ipython',
 'greet',
 'minuss',
 'my_sum',
 'pd',
 'pickle',
 'price',
 'price_year',
 'price_year_array',
 'quit',
 'result_from_my_sum',
 'string_sum',
 'web',
 'x']

In [ ]:
def h (a,b,c):
  print(a,b,c)
a=(1,2,3)
h(*a)

1 2 3

In [ ]:
dargs ={'a':1, 'b':2,'c':3}
h(**dargs)

1 2 3

In [ ]:
args = (1,2)
dargs = {'c':3}
h(*args, **dargs)

1 2 3

In [ ]:
def my_sum(*args):
  result = 0
  print(args)
  type(args)
  for x in args :
    result +=x
  return result

list1 = [1,2,3]
list2 = [4,5]
list3 = [6,7,8,9]
print(my_sum(*list1, *list2, *list3, 10))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
55

In [ ]:
k = [11,12,13]
h(*k)

11 12 13

*하나는 args(parameter)를 unpacking

In [ ]:
summs()

5

In [ ]:
def summs():
  a =2
  b=3
  print(a+b)

In [ ]:
def triple(x):
  print(x*x*x)
triple(3)

27

In [ ]:
def multiple(x,y):
  print(x*y)
multiple(7,9)

63

In [ ]:
def add_(a,b,c):
  result = (a+b)*c
  print(result)
add_(10,20,30)

900

In [ ]:
def f1(x):
  a = 10
  b = 20
  y = (a+b)*x
  return y 

c = f1(30)
print(c)

900

In [ ]:
def summs (a,b,c):
  result = (a+b)*c
  return (result)

In [ ]:
result = summs(10,20,30)

In [ ]:
print(result)

900

In [ ]:
%%writefile python_module.py
def summs (a,b,c):
  result = (a+b)*c
  return (result)

Writing python_module.py

In [ ]:
%%writefile client.py
import python_module as pm
result = pm.summs(10,20,30)
print(result)

Overwriting client.py

In [ ]:
ls

aapl.csv          client.py  python_module.py  sample_data/  stock.pickle
annual_stock.csv  main.c     python_modul.py   score.py      test.b

In [ ]:
%run client.py

900

In [ ]:
f = lambda x : x*10

In [ ]:
f(3)

30

In [ ]:
g = lambda y : y+10

In [ ]:
g(3)

13

In [ ]:
a= ['123','456','789']
type(a)

list

In [ ]:
print(type(a[0]),type(a[1]),type(a[2]))

<class 'str'> <class 'str'> <class 'str'>

In [ ]:
a = list(map(int,a))

In [ ]:
print(type(a[0]),type(a[1]),type(a[2]))

<class 'int'> <class 'int'> <class 'int'>