<a href="https://colab.research.google.com/github/Angorith/acorn_python/blob/main/0516_7%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88(%ED%95%A8%EC%88%982%5Bglobal%2C_LEGB%2C_nonlocal%5D).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def swaps(a,b):
    return b,a

a=10
b=20
print(swaps(a, b))

(20, 10)

In [ ]:
def list_edit(data,s1,s2):
    data.append(s1)
    data.extend([s2])   #string값은 글자 마다 따로 나오기때문에 []로 한번 감싸기
    return data

data = [1,2,3]
s1 = 'python'
s2 = 'program'

In [ ]:
result = list_edit(data, s1, s2)
print(result)

[1, 2, 3, 'python', 'program']

**함수형 변경**

변경가능 형 (Mutable) : list,dict,set

변경 불가능형(Immumtable) : int float colplex str tupe frozenset

In [ ]:
def gg(t):
    t = [5,6,7]



b=[8,9,10]
gg(b)
print(b)

[8, 9, 10]

In [ ]:
def hh(t):
    t[1]=10 #참조 (indexing)으로 하면 변경 가능

hh(b)    #return 문이 없지만 인덱싱으로 내부 객체 변경하니 반영됨
print(b)

[8, 10, 10]

**Python Scope**

A variable is only avaulavle from inside the region it is created . This is called scope.

**Local Scope**

A variable created inside a function belongs to the local scope of that function, and cna only be used inside that function.

**LEGB**

파이썬에서 변수에 값을 바인딩하거나 변수의 값을 참조하는 경우 LEGB규칙을 따릅니다.

L - Local 의 약자 함수안을 의미

E - Enclosed function locals 의 약자로 내부함수에서 자신의 외부 함수의 범위를 의미합니다.

G - Global 의 약자로 함수 바깥 즉, 모듈 범위입니다.

B - Bulit-in 의 약자로, open, range와 같은 파이썬 내장 함수들을 의미합니다.

In [ ]:
x= 10           #G
y=11

def foo():  
  x =20             #foo 함수의 L에 , bar 함수의 E에 해당
  def bar():
    a = 30          #L에 해당
    print(a,x,y)    #각 순서대로 L, E, G에 해당
  bar()             #30,20,11
  x=40
  bar()             #30,40,11

foo()

30 20 11
30 40 11

Built-In

   => Global

      =>  Encolosed

          =>    Local

In [ ]:
def myfunc1():
    x=300
    def innerfunc():
        print(x-50)
    innerfunc()

In [ ]:
myfunc1()

250

In [ ]:
def myfunc2():
    x=300
    def innerfunc():
      nonlocal x
      x = x- 50
      print(x)
    innerfunc()

In [ ]:
myfunc2()

250

nonlocal 문


*   전역 영역이 아닌곳에서
*   중첩된 함수의 변수를 사용하고자 할 때 nonlocal을 선언한다.

In [ ]:
def f(a):       #a는 지역변수
  global h
  h= a+10

In [ ]:
g = 10
f(11)

In [ ]:
h

21

시간 측정

In [ ]:
import time
time.time()

1652670948.4072375

In [ ]:
def minus(a,b):
  c= a-b
  return c

In [ ]:
d=20
f=70

In [ ]:
minus(f,d), minus(d,f)

(50, -50)

In [ ]:

table =[('A', '.-'),    ('B', '-...'),  ('C', '-.-.'),  ('D', '-..'),
        ('E', '.'),     ('F', '..-.'),  ('G', '--.'),   ('H', '....'),
        ('I', '..'),    ('J', '.---'),  ('K', '-.-'),   ('L', '.-..'),
        ('M', '--'),    ('N', '-.'),    ('O', '---'),   ('P', '.--.'),
        ('Q', '--.-'),  ('R', '.-.'),   ('S', '...'),   ('T', '-'),
        ('U', '..-'),   ('V', '...-'),  ('W', '.--'),   ('X', '-..-'),
        ('Y', '-.--'),  ('Z', '--..') ]

In [ ]:
type(table)

list

In [ ]:
string = 'SBS'

In [ ]:
for i in 'SBS':
  idx = ord(i)-ord('A')
  print(table[idx][1])

...
-...
...

In [ ]:
for i in table:
  idx = ord(i[0])-ord('A')
  print(idx)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [ ]:
for i in enumerate(table):
  print(i[0],i[1][0],i[1][1])

0 A .-
1 B -...
2 C -.-.
3 D -..
4 E .
5 F ..-.
6 G --.
7 H ....
8 I ..
9 J .---
10 K -.-
11 L .-..
12 M --
13 N -.
14 O ---
15 P .--.
16 Q --.-
17 R .-.
18 S ...
19 T -
20 U ..-
21 V ...-
22 W .--
23 X -..-
24 Y -.--
25 Z --..

In [ ]:
def encode_morse(word):
  morse_list = []
  for i in word:
    idx = ord(i)-ord('A')
    morse_list.append(table[idx][1])
  return morse_list

In [ ]:
encode_morse('SBS')

['...', '-...', '...']

In [ ]:
for i in 'PYTHON':
  idx = ord(i)-ord('A')
  print(table[idx][1])

.--.
-.--
-
....
---
-.

In [ ]:
word = 'SBS'

In [ ]:
for i in range(len(word)):
  print(i)

0
1
2

In [ ]:
for i in enumerate(table):
  print(i[0],i[1][0],i[1][1])

0 A .-
1 B -...
2 C -.-.
3 D -..
4 E .
5 F ..-.
6 G --.
7 H ....
8 I ..
9 J .---
10 K -.-
11 L .-..
12 M --
13 N -.
14 O ---
15 P .--.
16 Q --.-
17 R .-.
18 S ...
19 T -
20 U ..-
21 V ...-
22 W .--
23 X -..-
24 Y -.--
25 Z --..

In [ ]:
table_dict = {}
for i in table:
  table_dict[i[0]]=i[1]

In [ ]:
table_dict

{'A': '.-',
 'B': '-...',
 'C': '-.-.',
 'D': '-..',
 'E': '.',
 'F': '..-.',
 'G': '--.',
 'H': '....',
 'I': '..',
 'J': '.---',
 'K': '-.-',
 'L': '.-..',
 'M': '--',
 'N': '-.',
 'O': '---',
 'P': '.--.',
 'Q': '--.-',
 'R': '.-.',
 'S': '...',
 'T': '-',
 'U': '..-',
 'V': '...-',
 'W': '.--',
 'X': '-..-',
 'Y': '-.--',
 'Z': '--..'}

In [ ]:
morse_list = []
for i in 'SBS':
  morse_list.append(table_dict[i])

In [ ]:
for i in ['.--.', '-.--', '-', '....', '---', '-.']:
  print(table_dict[i])

KeyError: ignored

In [ ]:
morse_list

['...', '-...', '...']

In [ ]:
number = [1,2,3]
letters = ['a','b','c']
k = zip(number,letters)

In [ ]:
k_dict = dict(k)

In [ ]:
k_dict

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
for i in k:
  print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [ ]:
k_dict = dict(k)

In [ ]:
k_dict

{}

In [ ]:
number

[1, 2, 3]

In [ ]:
len(number)

3

In [ ]:
len('tests')

5

In [ ]:
a = ['abcdef','xyz','aba','1221']