<a href="https://colab.research.google.com/github/Angorith/acorn_python/blob/main/0527_16%EC%9D%BC%EC%B0%A8_padas_2%EA%B3%BC(method%2C_axis%2C_ascending%2Csum%2Ccumsum%2Cmean%2Cskipna%2Cdescribe%2Cunique%2Cvalue_counts%2Cget_index%2Cread_csv%2Cvalue_count).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
obj= pd.Series([7,-5,7,4,2,0,4])

In [ ]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [ ]:
obj.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [ ]:
obj.rank(method='max', ascending=False)

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [ ]:
frame = pd.DataFrame({'b':[4.3,7,-3,2], 'a':[0,1,0,1],
                      'c': [-2,5,8,-2.5]})

In [ ]:
frame

     b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5

In [ ]:
frame.rank(axis='columns', ascending=False)

     b    a    c
0  1.0  2.0  3.0
1  1.0  3.0  2.0
2  3.0  2.0  1.0
3  1.0  2.0  3.0

In [ ]:
obj = pd.Series(range(5),index=['a','a','b','b','c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [ ]:
obj['a']

a    0
a    1
dtype: int64

In [ ]:
obj['c']

4

In [ ]:
np.random.randn(4,3)

array([[-1.1185466 ,  1.81357366, -0.33470922],
       [ 1.07805559,  0.8320649 ,  1.71785032],
       [-0.04937825,  0.19300426, -0.58734896],
       [-0.06268122, -0.36317485, -1.13892332]])

In [ ]:
df = pd.DataFrame(np.random.randn(4,3),index=['a','a','b','b'])
df

          0         1         2
a -0.316002  0.241763 -1.955252
a -0.728612  0.360314 -0.880879
b  0.259678  0.891518  0.848357
b  0.281340 -0.170217 -0.447183

In [ ]:
df.loc['b']

          0         1         2
b  0.259678  0.891518  0.848357
b  0.281340 -0.170217 -0.447183

In [ ]:
df = pd.DataFrame([[1.4,np.nan],[7.1,-4.5],
                   [np.nan, np.nan],[0.75,-1.3]],
                   index = ['a','b','c','d'],
                   columns=['one','two'])

In [ ]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [ ]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [ ]:
df.sum(axis='columns')

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [ ]:
df.cumsum

<bound method NDFrame._add_numeric_operations.<locals>.cumsum of     one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3>

In [ ]:
df.mean(axis='columns',skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [ ]:
df.describe()

,ID,age,balance,day,campaign,pdays,previous
count,12870.000000,12870.000000,12870.000000,12870.000000,12870.000000,12870.000000,12870.000000
mean,16434.500000,41.091142,1483.774437,15.641103,2.659130,45.555478,0.688967
std,3715.393317,11.305560,3311.055181,8.368983,2.863507,104.449411,2.049696
min,10000.000000,18.000000,-6847.000000,1.000000,1.000000,-1.000000,0.000000
25%,13217.250000,32.000000,102.000000,8.000000,1.000000,-1.000000,0.000000
50%,16434.500000,39.000000,515.000000,16.000000,2.000000,-1.000000,0.000000
75%,19651.750000,49.000000,1591.750000,21.000000,3.000000,-1.000000,0.000000
max,22869.000000,95.000000,102127.000000,31.000000,43.000000,854.000000,58.000000

In [ ]:
obj = pd.Series(['c','a','d','a','b','b','c','c'])

In [ ]:
uniques = obj.unique()

In [ ]:
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [ ]:
obj.value_counts()

c    3
a    2
b    2
d    1
dtype: int64

In [ ]:
pd.value_counts(obj.values, sort=False)

c    3
a    2
d    1
b    2
dtype: int64

In [ ]:
to_match = pd.Series(['c','a','b','b','c','a'])
unique_vals = pd.Series(['c','b','a'])
pd.Index(unique_vals).get_indexer(to_match) #자연어 처리할 때 쓰는

array([0, 2, 1, 1, 0, 2])

In [ ]:
to_match

0    c
1    a
2    b
3    b
4    c
5    a
dtype: object

In [ ]:
unique_vals

0    c
1    b
2    a
dtype: object

In [ ]:
pd.Index(unique_vals).get_indexer(to_match) #unique의 index기준으로 to_match에있는 값의 인덱스 호출

결국 csv파일을 불러서 보여준다......
아.....허무해

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
df

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12865,14023,47,technician,married,secondary,no,1167,yes,no,cellular,30,apr,1,87,5,failure,yes
12866,17259,31,unknown,married,secondary,no,111,no,no,cellular,21,nov,2,93,2,failure,yes
12867,15200,37,unemployed,single,tertiary,no,1316,yes,no,cellular,18,nov,1,172,2,failure,no
12868,13775,42,management,married,tertiary,no,479,yes,no,unknown,28,may,2,-1,0,unknown,no
12869,20137,24,services,single,secondary,no,0,no,no,unknown,16,may,1,-1,0,unknown,no

In [ ]:
age_count = df['age']

In [ ]:
age_count

0        29
1        26
2        30
3        41
4        27
         ..
12865    47
12866    31
12867    37
12868    42
12869    24
Name: age, Length: 12870, dtype: int64

In [ ]:
age_10 = []
age_20 = []
age_30 = []
age_40 = []

for i in age_count:
    if 20 > i >=10 :
        age_10.append(i)
    elif 30 > i>= 20 :
        age_20.append(i)
    elif 40 > i >= 30:
        age_30.append(i)
    else: 
        age_40.append(i)

In [ ]:
len(age_10)

18

In [ ]:
len(age_20)

1638

In [ ]:
len(age_30)

5056

In [ ]:
len(age_40)

6158

In [ ]:
age_dict = dict(df.value_counts('age'))

In [ ]:
age_dict

In [ ]:
age_list = dict()

In [ ]:
for count in range(1,10):
    age_list[count]=0
#print(age_list)
for age_count in age_dict.keys():
    age_list[int(age_count/10)] += age_dict[age_count]

In [ ]:
age_list

{1: 18, 2: 1638, 3: 5056, 4: 3198, 5: 2244, 6: 460, 7: 193, 8: 57, 9: 6}

In [ ]:
df_age = df.age//10

In [ ]:
df['age_range']=df_age

이 밑에 걸로 끝.........

In [ ]:
pd.value_counts(df.age_range)

3    5056
4    3198
5    2244
2    1638
6     460
7     193
8      57
1      18
9       6
Name: age_range, dtype: int64

In [ ]:
df.age.value_counts()

32    569
33    565
31    545
34    533
36    526
     ...
90      2
93      2
88      1
95      1
92      1
Name: age, Length: 76, dtype: int64

In [ ]:
(df.age//10*10).value_counts()

30    5056
40    3198
50    2244
20    1638
60     460
70     193
80      57
10      18
90       6
Name: age, dtype: int64

----------

In [ ]:
!unzip drive-download-20220527T061828Z-001.zip

Archive:  drive-download-20220527T061828Z-001.zip
  inflating: ex2.csv
  inflating: ex3.txt
  inflating: ex1.csv
  inflating: ex3.csv
  inflating: ex4.csv
  inflating: ex6.csv
  inflating: ex7.csv
  inflating: ex5.csv

In [ ]:
df = pd.read_csv('ex1.csv')

In [ ]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
!cat ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [ ]:
pd.read_table('ex1.csv',sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
cat ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [ ]:
pd.read_csv('ex2.csv',header = None,names =['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
pd.read_csv('ex2.csv',names =['a','b','c','d','message'], index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [ ]:
r_url='http://compmath.korea.ac.kr/appmath/data/'

In [ ]:
parsed = pd.read_csv(r_url + 'csv_mindex.csv',index_col=['key1','key2'])

In [ ]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [ ]:
cat ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [ ]:
result = pd.read_table('ex3.txt', sep='\s+')

In [ ]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [ ]:
cat ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [ ]:
pd.read_csv('ex4.csv')

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [ ]:
pd.read_csv('ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
cat ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [ ]:
result = pd.read_csv('ex5.csv')

In [ ]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [ ]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [ ]:
result = pd.read_csv('ex5.csv', na_values=['test'])

In [ ]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [ ]:
cat ex6.csv

In [ ]:
result = pd.read_csv('ex6.csv')

In [ ]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [ ]:
result = pd.read_csv('ex6.csv',nrows=5)

In [ ]:
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [ ]:
result.to_csv('out.csv')

In [ ]:
cat out.csv

,one,two,three,four,key
0,0.467976300189,-0.0386485396255,-0.295344251987,-1.82472622729,L
1,-0.358893469543,1.40445260007,0.704964644926,-0.200638304015,B
2,-0.50184039929,0.659253707223,-0.421690619312,-0.0576883018364,G
3,0.204886212202,1.07413396504,1.38836131252,-0.982404023494,R
4,0.354627914484,-0.133115852296,0.283762637978,-0.837062961653,Q

In [ ]:
result.to_csv('out.csv',sep ='|')

In [ ]:
cat out.csv

|one|two|three|four|key
0|0.467976300189|-0.0386485396255|-0.295344251987|-1.82472622729|L
1|-0.358893469543|1.40445260007|0.704964644926|-0.200638304015|B
2|-0.50184039929|0.659253707223|-0.421690619312|-0.0576883018364|G
3|0.204886212202|1.07413396504|1.38836131252|-0.982404023494|R
4|0.354627914484|-0.133115852296|0.283762637978|-0.837062961653|Q

In [ ]:
result.to_csv('out.csv')

In [ ]:
cat out.csv

,one,two,three,four,key
0,0.467976300189,-0.0386485396255,-0.295344251987,-1.82472622729,L
1,-0.358893469543,1.40445260007,0.704964644926,-0.200638304015,B
2,-0.50184039929,0.659253707223,-0.421690619312,-0.0576883018364,G
3,0.204886212202,1.07413396504,1.38836131252,-0.982404023494,R
4,0.354627914484,-0.133115852296,0.283762637978,-0.837062961653,Q

In [ ]:
%%writefile out.csv
,one,two,three,four,key
0,0.467976300189,-0.0386485396255,-0.295344251987,-1.82472622729,L
1,-0.358893469543,1.40445260007,0.704964644926,-0.200638304015,B
2,-0.50184039929,0.659253707223,-0.421690619312,-0.0576883018364,G
3,0.204886212202,1.07413396504,1.38836131252,-0.982404023494,R
4,0.354627914484,-0.133115852296,0.283762637978,-0.837062961653,Q

Overwriting out.csv

In [ ]:
result = pd.read_csv('out.csv')

In [ ]:
result

   Unnamed: 0       one       two     three      four key
0           0  0.467976 -0.038649 -0.295344 -1.824726   L
1           1 -0.358893  1.404453  0.704965 -0.200638   B
2           2 -0.501840  0.659254 -0.421691 -0.057688   G
3           3  0.204886  1.074134  1.388361 -0.982404   R
4           4  0.354628 -0.133116  0.283763 -0.837063   Q

In [ ]:
result.to_csv('nan_out.csv', na_rep='NULL')

In [ ]:
cat nan_out.csv

,Unnamed: 0,one,two,three,four,key
0,0,0.467976300189,-0.0386485396255,-0.295344251987,-1.82472622729,L
1,1,-0.358893469543,1.40445260007,0.704964644926,-0.200638304015,B
2,2,-0.50184039929,0.659253707223,-0.421690619312,-0.0576883018364,G
3,3,0.204886212202,1.07413396504,1.38836131252,-0.982404023494,R
4,4,0.354627914484,-0.133115852296,0.283762637978,-0.837062961653,Q