<a href="https://colab.research.google.com/github/Angorith/acorn_python/blob/main/0530_17%EC%9D%BC%EC%B0%A8_pandas(dropna%2C_cut%2Ciloc%5B%5D%EC%9C%BC%EB%A1%9C_%EA%B2%B0%EC%B8%A1%EC%B2%98%EB%A6%AC%2Cfillna).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
%%writefile ex6.csv
something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

Overwriting ex6.csv

In [ ]:
ls

ex6.csv  sample_data/

In [ ]:
cat ex6.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [ ]:
data = pd.read_csv('ex6.csv')

In [ ]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [ ]:
data.to_csv('ex6-re.csv',index = False, header= False)  #index와 header 없이 출력

In [ ]:
ls

ex6.csv  ex6-re.csv  sample_data/

In [ ]:
cat ex6-re.csv

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [ ]:
data.to_csv('ex6_abc.csv', index=False, columns=['a','b','c'])

In [ ]:
ls

ex6_abc.csv  ex6.csv  ex6-re.csv  sample_data/

In [ ]:
cat ex6_abc.csv

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [ ]:
dates = pd.date_range('1/1/2022',periods=7) #1월 1일 부터 7일까지 타임스탬프
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
ts = pd.Series(np.arange(7), index=dates)

In [ ]:
ts

2022-01-01    0
2022-01-02    1
2022-01-03    2
2022-01-04    3
2022-01-05    4
2022-01-06    5
2022-01-07    6
Freq: D, dtype: int64

In [ ]:
ts.to_csv('timeseries.csv')

In [ ]:
ls

ex6_abc.csv  ex6.csv  ex6-re.csv  sample_data/  timeseries.csv

In [ ]:
cat timeseries.csv

,0
2022-01-01,0
2022-01-02,1
2022-01-03,2
2022-01-04,3
2022-01-05,4
2022-01-06,5
2022-01-07,6

In [ ]:
%%writefile ex7.csv
'a','b','c'
'1','2','3'
'4','5','6'

Writing ex7.csv

In [ ]:
ls

ex6_abc.csv  ex6.csv  ex6-re.csv  ex7.csv  sample_data/  timeseries.csv

In [ ]:
cat ex7.csv

'a','b','c'
'1','2','3'
'4','5','6'

In [ ]:
import csv

In [ ]:
with open('ex7.csv') as f:
    lines = list(csv.reader(f))

In [ ]:
lines

[["'a'", "'b'", "'c'"], ["'1'", "'2'", "'3'"], ["'4'", "'5'", "'6'"]]

In [ ]:
obj='''
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
'''

In [ ]:
import json

In [ ]:
result = json.loads(obj)

In [ ]:
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 30, 'name': 'Scott', 'pets': ['Zeus', 'Zuko']},
  {'age': 38, 'name': 'Katie', 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [ ]:
type(result)

dict

In [ ]:
asjson = json.dumps(result)

In [ ]:
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [ ]:
type(asjson)

str

In [ ]:
result['siblings']

[{'age': 30, 'name': 'Scott', 'pets': ['Zeus', 'Zuko']},
 {'age': 38, 'name': 'Katie', 'pets': ['Sixes', 'Stache', 'Cisco']}]

In [ ]:
siblings = pd.DataFrame(result['siblings'], columns=['name','age','pets'])

In [ ]:
siblings

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

In [ ]:
%%writefile example.json
[{"a":1,"b":2, "c":3},
 {"a":4,"b":5, "c":6},
 {"a":7,"b":8, "c":9}]

Overwriting example.json

In [ ]:
cat example.json

[{"a":1,"b":2, "c":3},
 {"a":4,"b":5, "c":6},
 {"a":7,"b":8, "c":9}]

In [ ]:
data = pd.read_json('example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
data.to_json()

'{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}'

In [ ]:
data.to_json(orient='records')  #오라클

'[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]'

In [ ]:
rurl='http://compmath.korea.ac.kr/appmath/data/'

In [ ]:
tables = pd.read_html(rurl + 'fdic_failed_bank_list.html')

In [ ]:
type(tables)

list

In [ ]:
len(tables)

1

In [ ]:
tables[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"
...,...,...,...,...,...,...,...
542,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
543,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
544,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [ ]:
failures = tables[0]

In [ ]:
failures['Closing Date']

0      September 23, 2016
1         August 19, 2016
2             May 6, 2016
3          April 29, 2016
4          March 11, 2016
              ...
542         July 27, 2001
543           May 3, 2001
544      February 2, 2001
545     December 14, 2000
546      October 13, 2000
Name: Closing Date, Length: 547, dtype: object

In [ ]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

In [ ]:
close_timestamps

0     2016-09-23
1     2016-08-19
2     2016-05-06
3     2016-04-29
4     2016-03-11
         ...
542   2001-07-27
543   2001-05-03
544   2001-02-02
545   2000-12-14
546   2000-10-13
Name: Closing Date, Length: 547, dtype: datetime64[ns]

In [ ]:
frame = pd.read_csv(rurl+'ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
frame.to_pickle('frame_pickle')

In [ ]:
ls

ex6_abc.csv  ex6-re.csv  example.json  sample_data/
ex6.csv      ex7.csv     frame_pickle  timeseries.csv

In [ ]:
cat frame_pickle

���      �pandas.core.frame��	DataFrame���)��}�(�_mgr��pandas.core.internals.managers��BlockManager����	functools��partial����pandas.core.internals.blocks��	new_block�����R�(h)}��ndim�KsNt�b�numpy.core.multiarray��_reconstruct����numpy��ndarray���K ��Cb���R�(KKK��h�dtype����i8�����R�(K�<�NNNJ����J����K t�b�C`              	                     
                                                 �t�b�builtins��slice���K KK��R���R�hh��R�(h)}�hKsNt�bhhK ��h��R�(KKK��h �O8�����R�(K�|�NNNJ����J����K?t�b�]�(�hello��world��foo�et�bh*KKK��R���R���]�(�pandas.core.indexes.base��
_new_Index���hG�Index���}�(�data�hhK ��h��R�(KK��h9�]�(�a��b��c��d��message�et�b�name�Nu��R�hI�pandas.core.indexes.range��
RangeIndex���}�(hYN�start�K �stop�K�step�Ku��R�e��R��_typ��	dataframe��	_metadata�]��attrs�}��_flags�}��allows_duplicate_labels��sub.

In [ ]:
pd.read_pickle('frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# 2

In [ ]:
rurl

'http://compmath.korea.ac.kr/appmath/data/'

In [ ]:
xlsx = pd.ExcelFile(rurl + 'ex1.xlsx')  #시트가 여러개면 이게 빠름

In [ ]:
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [ ]:
frame = pd.read_excel(rurl + 'ex1.xlsx','Sheet1')

In [ ]:
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [ ]:
type(frame)

pandas.core.frame.DataFrame

In [ ]:
frame.to_excel('ex2.xlsx')

In [ ]:
ls

ex2.xlsx     ex6.csv     ex7.csv       frame_pickle  timeseries.csv
ex6_abc.csv  ex6-re.csv  example.json  sample_data/

In [ ]:
frame = pd.read_excel(rurl + 'ex1.xlsx','Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

# **결측자료 처리**

In [ ]:
string_data = pd.Series(['aardvark' ,'artichoke',np.nan,'avocado'])

In [ ]:
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [ ]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [ ]:
string_data[0]=None

In [ ]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

In [ ]:
from numpy import nan as NA

In [ ]:
data = pd.Series([1, NA, 3.5, NA,7])

In [ ]:
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [ ]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [ ]:
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [ ]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [ ]:
data = pd.DataFrame([[1.,6.5,3.],[1.,NA,NA],
                     [NA,NA,NA],[NA,6.5,3.]])
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [ ]:
data.dropna()   #NAN이 있는곳은 다 제거 후 출력

     0    1    2
0  1.0  6.5  3.0

In [ ]:
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [ ]:
data[4]=NA

In [ ]:
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [ ]:
data.dropna(axis=1,how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [ ]:
df = pd.DataFrame(np.random.randn(7,3)) #
df

          0         1         2
0  0.176529  0.749915  0.198988
1  0.872984  0.264208 -0.059241
2 -0.637524  1.777225 -0.328254
3 -0.603284  0.899155  1.092313
4  0.970239 -0.357043  1.095785
5  0.041813 -1.109508 -0.247296
6  0.413443 -0.279499 -0.102472

In [ ]:
df.iloc[:4, 1]=NA   #index 3번의 cloumn1의 값을 NA로 대체
df

          0         1         2
0  0.176529       NaN  0.198988
1  0.872984       NaN -0.059241
2 -0.637524       NaN -0.328254
3 -0.603284       NaN  1.092313
4  0.970239 -0.357043  1.095785
5  0.041813 -1.109508 -0.247296
6  0.413443 -0.279499 -0.102472

In [ ]:
df.iloc[:2,2]=NA
df

          0         1         2
0  0.176529       NaN       NaN
1  0.872984       NaN       NaN
2 -0.637524       NaN -0.328254
3 -0.603284       NaN  1.092313
4  0.970239 -0.357043  1.095785
5  0.041813 -1.109508 -0.247296
6  0.413443 -0.279499 -0.102472

In [ ]:
df.dropna()

          0         1         2
4  0.970239 -0.357043  1.095785
5  0.041813 -1.109508 -0.247296
6  0.413443 -0.279499 -0.102472

In [ ]:
df.dropna(thresh = 2)   #입력된 값이 두개 이상인 것만 출력

          0         1         2
2 -0.637524       NaN -0.328254
3 -0.603284       NaN  1.092313
4  0.970239 -0.357043  1.095785
5  0.041813 -1.109508 -0.247296
6  0.413443 -0.279499 -0.102472

In [ ]:
df

          0         1         2
0  0.176529       NaN       NaN
1  0.872984       NaN       NaN
2 -0.637524       NaN -0.328254
3 -0.603284       NaN  1.092313
4  0.970239 -0.357043  1.095785
5  0.041813 -1.109508 -0.247296
6  0.413443 -0.279499 -0.102472

In [ ]:
-0.357043 + -1.109508 + -0.279499/3

-1.5597173333333332

In [ ]:
df.mean(axis = 0)

0    0.176314
1   -0.582017
2    0.302016
dtype: float64

In [ ]:
df.mean()

0    0.176314
1   -0.582017
2    0.302016
dtype: float64

In [ ]:
df.mean(axis=1)

0    0.176529
1    0.872984
2   -0.482889
3    0.244514
4    0.569661
5   -0.438330
6    0.010491
dtype: float64

In [ ]:
%%writefile df_data
idx,a,b,c,d
one,1,2,3,4
two,5,6,7,8
three,9,10,11,12

Writing df_data

In [ ]:
cat df_data

idx,a,b,c,d
one,1,2,3,4
two,5,6,7,8
three,9,10,11,12

In [ ]:
df_=pd.read_csv('df_data', index_col=[0])
df_

       a   b   c   d
idx
one    1   2   3   4
two    5   6   7   8
three  9  10  11  12

In [ ]:
df_.mean(axis=0)

a    5.0
b    6.0
c    7.0
d    8.0
dtype: float64

In [ ]:
df_.mean()

a    5.0
b    6.0
c    7.0
d    8.0
dtype: float64

In [ ]:
df_.mean(axis=1)

idx
one       2.5
two       6.5
three    10.5
dtype: float64

In [ ]:
df_.sum(axis=0)

a    15
b    18
c    21
d    24
dtype: int64

In [ ]:
df_.iloc[1,2]= np.nan
df_.iloc[2,1]= np.nan
df_

       a    b     c   d
idx
one    1  2.0   3.0   4
two    5  6.0   NaN   8
three  9  NaN  11.0  12

In [ ]:
df_.dropna(axis=0)

     a    b    c  d
idx
one  1  2.0  3.0  4

In [ ]:
df_.dropna(axis=1)

       a   d
idx
one    1   4
two    5   8
three  9  12

In [ ]:
df

          0         1         2
0  0.176529       NaN       NaN
1  0.872984       NaN       NaN
2 -0.637524       NaN -0.328254
3 -0.603284       NaN  1.092313
4  0.970239 -0.357043  1.095785
5  0.041813 -1.109508 -0.247296
6  0.413443 -0.279499 -0.102472

In [ ]:
df.iloc[:3,0]= NA

In [ ]:
df

          0         1         2
0       NaN       NaN       NaN
1       NaN       NaN       NaN
2       NaN       NaN -0.328254
3 -0.603284       NaN  1.092313
4  0.970239 -0.357043  1.095785
5  0.041813 -1.109508 -0.247296
6  0.413443 -0.279499 -0.102472

In [ ]:
df.dropna(thresh=2)

          0         1         2
3 -0.603284       NaN  1.092313
4  0.970239 -0.357043  1.095785
5  0.041813 -1.109508 -0.247296
6  0.413443 -0.279499 -0.102472

In [ ]:
df.fillna(0.)

          0         1         2
0  0.000000  0.000000  0.000000
1  0.000000  0.000000  0.000000
2  0.000000  0.000000 -0.328254
3 -0.603284  0.000000  1.092313
4  0.970239 -0.357043  1.095785
5  0.041813 -1.109508 -0.247296
6  0.413443 -0.279499 -0.102472

# 3

In [ ]:
df.fillna({1:0.5,2:0})

          0         1         2
0       NaN  0.500000  0.000000
1       NaN  0.500000  0.000000
2       NaN  0.500000 -0.328254
3 -0.603284  0.500000  1.092313
4  0.970239 -0.357043  1.095785
5  0.041813 -1.109508 -0.247296
6  0.413443 -0.279499 -0.102472

In [ ]:
df

          0         1         2
0       NaN       NaN       NaN
1       NaN       NaN       NaN
2       NaN       NaN -0.328254
3 -0.603284       NaN  1.092313
4  0.970239 -0.357043  1.095785
5  0.041813 -1.109508 -0.247296
6  0.413443 -0.279499 -0.102472

In [ ]:
df.fillna(0, inplace= True)
df

          0         1         2
0  0.000000  0.000000  0.000000
1  0.000000  0.000000  0.000000
2  0.000000  0.000000 -0.328254
3 -0.603284  0.000000  1.092313
4  0.970239 -0.357043  1.095785
5  0.041813 -1.109508 -0.247296
6  0.413443 -0.279499 -0.102472

In [ ]:
df = pd.DataFrame(np.random.randn(6,3))
df

          0         1         2
0  0.490831 -1.012997 -1.360129
1  0.162575  0.096972  0.942884
2  0.409510 -0.490260 -1.132985
3 -2.988830  0.001455 -1.161096
4  1.139737 -0.781461 -0.900038
5  1.084616  0.865430 -0.061950

In [ ]:
df.iloc[2:,1] =NA
df.iloc[4:, 2]=NA
df

          0         1         2
0  0.490831 -1.012997 -1.360129
1  0.162575  0.096972  0.942884
2  0.409510       NaN -1.132985
3 -2.988830       NaN -1.161096
4  1.139737       NaN       NaN
5  1.084616       NaN       NaN

In [ ]:
df.fillna(method = 'ffill')

          0         1         2
0  0.490831 -1.012997 -1.360129
1  0.162575  0.096972  0.942884
2  0.409510  0.096972 -1.132985
3 -2.988830  0.096972 -1.161096
4  1.139737  0.096972 -1.161096
5  1.084616  0.096972 -1.161096

In [ ]:
df.fillna(method = 'ffill', limit=2)

          0         1         2
0  0.490831 -1.012997 -1.360129
1  0.162575  0.096972  0.942884
2  0.409510  0.096972 -1.132985
3 -2.988830  0.096972 -1.161096
4  1.139737       NaN -1.161096
5  1.084616       NaN -1.161096

In [ ]:
data = pd.Series([1.,NA,3.5,NA,7.])

In [ ]:
data

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [ ]:
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

In [ ]:
data = pd.DataFrame({'k1':['one','two']*3 + ['two'],
                     'k2':[1,1,2,3,3,4,4,]})

In [ ]:
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [ ]:
data.duplicated()   #columns값의 중복여부

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [ ]:
data.drop_duplicates()  #true값을 drop시키고 출력

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [ ]:
data['v1']=range(7)

In [ ]:
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [ ]:
data.drop_duplicates('k1')

    k1  k2  v1
0  one   1   0
1  two   1   1

In [ ]:
data.drop_duplicates('k1',keep='last')

    k1  k2  v1
4  one   3   4
6  two   4   6

In [ ]:
data.drop_duplicates(['k1','k2'],keep='last')

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

대소문자 구별하는 코드

In [ ]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [ ]:
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}

In [ ]:
lowercased = data['food'].str.lower()

In [ ]:
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

# 4

In [ ]:
data['animal']= lowercased.map(meat_to_animal)

In [ ]:
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [ ]:
df = data['food'].map(lambda x: meat_to_animal[x.lower()])

In [ ]:
df

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

In [ ]:
data=pd.Series([1.,-999.,2.,-999.,-1000.,3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [ ]:
data.replace(-999,np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [ ]:
data.replace([-999,-1000],np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [ ]:
data.replace({-999:np.nan,-1000:0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [ ]:
data = pd.DataFrame(np.arange(12).reshape((3,4)),
                    index = ['Ohio','Colorado','New York'],
                    columns = ['one','two','three','four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [ ]:
np.arange(12).shape

(12,)

In [ ]:
np.arange(12).reshape((3,4))

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [ ]:
transform = lambda  x : x[:4].upper()   #[:4번째 까지]lambda로 받아서 대문자로 바꾼다

In [ ]:
data.index

Index(['Ohio', 'Colorado', 'New York'], dtype='object')

In [ ]:
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [ ]:
list(data.index)

['OHIO', 'COLO', 'NEW ']

In [ ]:
data.index = data.index.map(transform)
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [ ]:
data.index=['first','second','third']
data

        one  two  three  four
first     0    1      2     3
second    4    5      6     7
third     8    9     10    11

In [ ]:
data.rename(index=str.title)    #title = 앞글자 대문자

        one  two  three  four
First     0    1      2     3
Second    4    5      6     7
Third     8    9     10    11

In [ ]:
data.rename(index=str.title,columns=str.upper) #+컬럼까지 대문자로 변경

        ONE  TWO  THREE  FOUR
First     0    1      2     3
Second    4    5      6     7
Third     8    9     10    11

In [ ]:
data.rename(index={'first':1},columns={'three':3})

        one  two   3  four
1         0    1   2     3
second    4    5   6     7
third     8    9  10    11

원하는 연령으로 나누는 코드

In [ ]:
ages=[20,22,25,27,21,23,37,31,61,45,41,32]

In [ ]:
bins=[18,25,35,60,100]

In [ ]:
cats = pd.cut(ages,bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [ ]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [ ]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')

In [ ]:
pd.value_counts(cats)

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

In [ ]:
df_ = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
df_

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12865,14023,47,technician,married,secondary,no,1167,yes,no,cellular,30,apr,1,87,5,failure,yes
12866,17259,31,unknown,married,secondary,no,111,no,no,cellular,21,nov,2,93,2,failure,yes
12867,15200,37,unemployed,single,tertiary,no,1316,yes,no,cellular,18,nov,1,172,2,failure,no
12868,13775,42,management,married,tertiary,no,479,yes,no,unknown,28,may,2,-1,0,unknown,no
12869,20137,24,services,single,secondary,no,0,no,no,unknown,16,may,1,-1,0,unknown,no

In [ ]:
ages= df_.age

In [ ]:
ages.counts()

AttributeError: ignored

In [ ]:
bins = [9,19,29,39,49,59,69,79,89,99,100]

In [ ]:
cats = pd.cut(ages,bins)
cats

0        (19, 29]
1        (19, 29]
2        (29, 39]
3        (39, 49]
4        (19, 29]
           ...
12865    (39, 49]
12866    (29, 39]
12867    (29, 39]
12868    (39, 49]
12869    (19, 29]
Name: age, Length: 12870, dtype: category
Categories (10, interval[int64, right]): [(9, 19] < (19, 29] < (29, 39] < (39, 49] ... (69, 79] <
                                          (79, 89] < (89, 99] < (99, 100]]

In [ ]:
pd.value_counts(cats)

(29, 39]     5056
(39, 49]     3198
(49, 59]     2244
(19, 29]     1638
(59, 69]      460
(69, 79]      193
(79, 89]       57
(9, 19]        18
(89, 99]        6
(99, 100]       0
Name: age, dtype: int64

In [ ]:
cats.categories

AttributeError: ignored

In [ ]:
ages = pd.cut(df_.age, [1,10,20,30,40,50,60,70,80,90,100],right=False)

In [ ]:
ages

0        [20, 30)
1        [20, 30)
2        [30, 40)
3        [40, 50)
4        [20, 30)
           ...
12865    [40, 50)
12866    [30, 40)
12867    [30, 40)
12868    [40, 50)
12869    [20, 30)
Name: age, Length: 12870, dtype: category
Categories (10, interval[int64, left]): [[1, 10) < [10, 20) < [20, 30) < [30, 40) ... [60, 70) <
                                         [70, 80) < [80, 90) < [90, 100)]

In [ ]:
ans = list(pd.value_counts(ages))

In [ ]:
sum(ans)

12870

In [ ]:
ans

[5056, 3198, 2244, 1638, 460, 193, 57, 18, 6, 0]

In [ ]:
import time
import folium
import json
from  urllib.request import urlopen, Request
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
url = 'https://www.tripadvisor.co.kr/Attractions-g297885-Activities-zft12169-Jeju_Jeju_Island.html'
hdr= {'User-Agent': 'Mozilla/5.0'}
req = Request(url,headers=hdr)
page = urlopen(req)
soup = BeautifulSoup(page, 'html.parser')

KeyboardInterrupt: ignored

In [ ]:
def location_rank(n):
        name_list = []

        for i in soup.find_all(n)[:30]:
            dummy_txt = i.get_text().split()
            name_list.append(' '.join(dummy_txt[1:]))
            #print(name_list)
            rank_list.append(dummy_txt[0])
        return (name_list, rank_list)
        #name_list, rank_list

In [ ]:
 #종류
    #soup.find_all('div','WlYyy diXIH fPixj')[:30]
    def store_add(m):
        address_list = []
        for i in soup.find_all(m)[:30]:
            dummy_txt = i.get_text().split()
            address_list.append(' '.join(dummy_txt))
        return(address_list)
        #rank_list,name_list, address_list

In [ ]:
   #평점
    #soup.find_all('span','WlYyy diXIH bGusc bQCoY')[:30]
    def store_point(l):
        point_list = []
        for i in soup.find_all(l)[:30]:
            dummy_txt = i.get_text().split()
            point_list.append(' '.join(dummy_txt))
            #print(point_list)
        return(point_list)
        #rank_list,name_list, address_list, point_list

In [ ]:
  def sum_store_info():
        data = {'rank' : rank_list, 'name': name_list, 'point' : point_list, 'address': address_list}
        df = pd.DataFrame(data)
        return df