<a href="https://colab.research.google.com/github/Angorith/acorn_python/blob/main/0608_22%EC%9D%BC%EC%B0%A8_%EC%8B%9C%EA%B3%84%EC%97%B4%EB%8B%A4%EB%A3%A8%EA%B8%B0(datetime)%2Cpandas%5Bastype%2Cset_index%2Capplymap(str)%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
from datetime import datetime

In [ ]:
now = datetime.now()
now

datetime.datetime(2022, 6, 8, 0, 2, 27, 768304)

In [ ]:
now.year, now.month , now.day, now.hour

(2022, 6, 8, 0)

In [ ]:
delta = datetime(2022, 5,6) - now

In [ ]:
delta

datetime.timedelta(days=-34, seconds=86252, microseconds=231696)

In [ ]:
from datetime import timedelta

In [ ]:
now + timedelta(1000)

datetime.datetime(2025, 3, 4, 0, 2, 27, 768304)

In [ ]:
now.strftime('%Y-%m-%d')

'2022-06-08'

In [ ]:
str(now)

'2022-06-08 00:02:27.768304'

In [ ]:
now.strftime('%Y-%m-%d')

'2022-06-08'

In [ ]:
str_value = '2022-06-08'

In [ ]:
datetime.strptime(str_value,'%Y-%m-%d' )

datetime.datetime(2022, 6, 8, 0, 0)

In [ ]:
dates_list = ['7/6/2022','8/6/2022']

In [ ]:
[datetime.strptime(x, '%m/%d/%Y') for x in dates_list]

[datetime.datetime(2022, 7, 6, 0, 0), datetime.datetime(2022, 8, 6, 0, 0)]

In [ ]:
from dateutil.parser import parse

In [ ]:
parse('2022-05-06')

datetime.datetime(2022, 5, 6, 0, 0)

In [ ]:
parse('Jan 31, 2027 10:45 PM')

datetime.datetime(2027, 1, 31, 22, 45)

In [ ]:
parse('8/6/2022', dayfirst=True)

datetime.datetime(2022, 6, 8, 0, 0)

In [ ]:
date_list = ['2022-06-08 09:00:00', '2022-07-08 09:00:00']

In [ ]:
pd.to_datetime(date_list)

DatetimeIndex(['2022-06-08 09:00:00', '2022-07-08 09:00:00'], dtype='datetime64[ns]', freq=None)

In [ ]:
idx = pd.to_datetime(date_list + [None])

In [ ]:
idx

DatetimeIndex(['2022-06-08 09:00:00', '2022-07-08 09:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [ ]:
idx[2]

NaT

In [ ]:
pd.isnull(idx)

array([False, False,  True])

In [ ]:
[1,2]+[3,4]

[1, 2, 3, 4]

In [ ]:
date_list + [None, 2, None]

['2022-06-08 09:00:00', '2022-07-08 09:00:00', None, 2, None]

In [ ]:
dates = [datetime(2011, 1,2),datetime(2011, 1,5),
         datetime(2011, 1,7),datetime(2011, 1,8),
         datetime(2011, 1,10),datetime(2011, 1,12)]

In [ ]:
ts = pd.Series(np.random.randn(6), index= dates)

In [ ]:
ts

2011-01-02   -1.657030
2011-01-05   -1.412343
2011-01-07   -1.804437
2011-01-08    0.675769
2011-01-10   -2.120070
2011-01-12   -1.037574
dtype: float64

In [ ]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [ ]:
ts[::2]

2011-01-02   -1.657030
2011-01-07   -1.804437
2011-01-10   -2.120070
dtype: float64

In [ ]:
ts + ts[::2]

2011-01-02   -3.314060
2011-01-05         NaN
2011-01-07   -3.608875
2011-01-08         NaN
2011-01-10   -4.240139
2011-01-12         NaN
dtype: float64

In [ ]:
stamp = ts.index[2]

In [ ]:
stamp

Timestamp('2011-01-07 00:00:00')

In [ ]:
ts[stamp]

-1.8044373635230782

In [ ]:
ts

2011-01-02   -1.657030
2011-01-05   -1.412343
2011-01-07   -1.804437
2011-01-08    0.675769
2011-01-10   -2.120070
2011-01-12   -1.037574
dtype: float64

In [ ]:
ts['1/10/2011'] #인덱싱 가능

-2.120069514624607

In [ ]:
ts['20110110']  #다르게도 표현 가능

-2.120069514624607

In [ ]:
long_ts = pd.Series(np.random.randn(1000), index = pd.date_range('1/1/2000', periods = 1000))    #2000/1/1 부터 날짜로 1000일 후 #date_range()pandas에서 제공하는 메서드

In [ ]:
long_ts

2000-01-01   -0.249803
2000-01-02    0.486161
2000-01-03    1.299019
2000-01-04    1.169768
2000-01-05   -0.484705
                ...
2002-09-22    1.490484
2002-09-23    0.010649
2002-09-24    1.077356
2002-09-25    0.699767
2002-09-26    1.254105
Freq: D, Length: 1000, dtype: float64

In [ ]:
long_ts['2001-05']

2001-05-01    1.048540
2001-05-02    0.202694
2001-05-03    0.374523
2001-05-04    1.328429
2001-05-05    0.076413
2001-05-06    1.582011
2001-05-07    1.550537
2001-05-08    0.524981
2001-05-09    0.175607
2001-05-10   -0.420736
2001-05-11    2.149167
2001-05-12   -1.152196
2001-05-13    0.660129
2001-05-14   -0.642810
2001-05-15   -0.782094
2001-05-16   -0.565610
2001-05-17    0.725033
2001-05-18   -0.062513
2001-05-19    1.400070
2001-05-20    0.519053
2001-05-21    1.399103
2001-05-22   -0.163100
2001-05-23   -1.193625
2001-05-24    0.434793
2001-05-25    0.305801
2001-05-26    2.276565
2001-05-27    1.434636
2001-05-28    1.015374
2001-05-29    0.783798
2001-05-30    1.548841
2001-05-31   -1.337252
Freq: D, dtype: float64

In [ ]:
long_ts[datetime(2000,9,1):]    #슬라이싱

2000-09-01    0.601700
2000-09-02    0.637860
2000-09-03   -0.067265
2000-09-04   -0.180477
2000-09-05   -1.117519
                ...
2002-09-22    1.490484
2002-09-23    0.010649
2002-09-24    1.077356
2002-09-25    0.699767
2002-09-26    1.254105
Freq: D, Length: 756, dtype: float64

In [ ]:
long_ts['2002-09-20':'2002-09-26']

2002-09-20    0.792956
2002-09-21   -0.181051
2002-09-22    1.490484
2002-09-23    0.010649
2002-09-24    1.077356
2002-09-25    0.699767
2002-09-26    1.254105
Freq: D, dtype: float64

In [ ]:
dates = pd.date_range('1/1/2000',periods = 100, freq ='W-WED')
long_df = pd.DataFrame(np.random.randn(100,4), index = dates, columns=['Colorado','Texas',
                                                                       'New York','Ohio'])

In [ ]:
long_df

            Colorado     Texas  New York      Ohio
2000-01-05 -0.086901  0.795624  1.148824  0.604067
2000-01-12  0.722426 -1.239328 -0.909021 -0.753149
2000-01-19  0.012840 -1.264149 -0.401104 -0.457676
2000-01-26  1.247318 -1.681980  0.399811 -0.517891
2000-02-02 -1.614818 -0.025336  0.432511  2.238698
...              ...       ...       ...       ...
2001-10-31 -1.476720 -1.403269  2.037551 -0.385648
2001-11-07  0.135816  0.605049 -1.301875  1.079240
2001-11-14  0.169670 -0.383882 -0.405354  1.457936
2001-11-21  1.588134 -0.965266  1.730057 -1.001100
2001-11-28  0.626575 -0.642763  0.085061 -0.108342

[100 rows x 4 columns]

In [ ]:
long_df.columns

Index(['Colorado', 'Texas', 'New York', 'Ohio'], dtype='object')

In [ ]:
long_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100 entries, 2000-01-05 to 2001-11-28
Freq: W-WED
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Colorado  100 non-null    float64
 1   Texas     100 non-null    float64
 2   New York  100 non-null    float64
 3   Ohio      100 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

In [ ]:
long_df.head()

            Colorado     Texas  New York      Ohio
2000-01-05 -0.086901  0.795624  1.148824  0.604067
2000-01-12  0.722426 -1.239328 -0.909021 -0.753149
2000-01-19  0.012840 -1.264149 -0.401104 -0.457676
2000-01-26  1.247318 -1.681980  0.399811 -0.517891
2000-02-02 -1.614818 -0.025336  0.432511  2.238698

# 2

In [ ]:
datas = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000',
                          '1/2/2000','1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=datas)

In [ ]:
dup_ts.index.is_unique

False

In [ ]:
dup_ts['1/1/2000']

0

In [ ]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [ ]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [ ]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range('2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
ts = pd.Series(np.random.randn(4),
               index = pd.date_range('1/1/2000',periods = 4, freq ='M'))

In [ ]:
ts

2000-01-31   -0.284393
2000-02-29    1.639502
2000-03-31    0.180531
2000-04-30   -0.431500
Freq: M, dtype: float64

In [ ]:
ts.shift(2) #인덱스는 그대로 값만 뒤로 밀었음

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.284393
2000-04-30    1.639502
Freq: M, dtype: float64

In [ ]:
ts.shift(-2)    #값을 앞으로 밈

2000-01-31    0.180531
2000-02-29   -0.431500
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [ ]:
ts.shift(-1)

2000-01-31    1.639502
2000-02-29    0.180531
2000-03-31   -0.431500
2000-04-30         NaN
Freq: M, dtype: float64

In [ ]:
ts/ ts.shift(-1)

2000-01-31   -0.173463
2000-02-29    9.081568
2000-03-31   -0.418380
2000-04-30         NaN
Freq: M, dtype: float64

In [ ]:
ts

2000-01-31   -0.284393
2000-02-29    1.639502
2000-03-31    0.180531
2000-04-30   -0.431500
Freq: M, dtype: float64

In [ ]:
-0.284393 / 1.639502    #현재달의 수치 나누기 땡겨져온 값

-0.17346303938635024

In [ ]:
12/10

1.2

In [ ]:
12/10 -1

0.19999999999999996

In [ ]:
(ts.shift(-1)/ ts) -1

2000-01-31   -6.764906
2000-02-29   -0.889887
2000-03-31   -3.390173
2000-04-30         NaN
Freq: M, dtype: float64

In [ ]:
rng = pd.date_range('2000-01-01', periods =100, freq= 'D')
ts = pd.Series(np.random.randn(len(rng)), index = rng)
ts

2000-01-01   -0.947108
2000-01-02   -0.552542
2000-01-03   -0.330141
2000-01-04   -0.406911
2000-01-05   -0.797549
                ...
2000-04-05   -0.034757
2000-04-06   -0.635889
2000-04-07    1.722517
2000-04-08    0.308382
2000-04-09   -1.141540
Freq: D, Length: 100, dtype: float64

In [ ]:
ts.resample('M').mean()

2000-01-31   -0.159023
2000-02-29    0.054658
2000-03-31    0.129975
2000-04-30   -0.067301
Freq: M, dtype: float64

In [ ]:
ts.resample('M', kind='period').mean()

2000-01   -0.159023
2000-02    0.054658
2000-03    0.129975
2000-04   -0.067301
Freq: M, dtype: float64

In [ ]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')
ts = pd.Series(np.arange(12), index = rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int64

In [ ]:
ts.resample('5min', closed='left').mean()

2000-01-01 00:00:00     2.0
2000-01-01 00:05:00     7.0
2000-01-01 00:10:00    10.5
Freq: 5T, dtype: float64

In [ ]:
ts.resample('5min', closed='left').sum()

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int64

In [ ]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int64

# 3

In [ ]:
df = pd.DataFrame({'col_str_1': ['1','2','3'],'col_str_2':['4.1','5.5','6.0']})

In [ ]:
df

  col_str_1 col_str_2
0         1       4.1
1         2       5.5
2         3       6.0

In [ ]:
df.astype(float)

   col_str_1  col_str_2
0        1.0        4.1
1        2.0        5.5
2        3.0        6.0

In [ ]:
df_float = df.astype(float)

In [ ]:
df_float.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   col_str_1  3 non-null      float64
 1   col_str_2  3 non-null      float64
dtypes: float64(2)
memory usage: 176.0 bytes

In [ ]:
df.astype({'col_str_1':int, 'col_str_2':float})

   col_str_1  col_str_2
0          1        4.1
1          2        5.5
2          3        6.0

주식차트 보기

In [ ]:
pip install --upgrade pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 9.1 MB/s
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.2.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.5.18.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Installing collected packages: pandas-datareader
  Attempting uninstall: pandas-datareader
    Found existing installation: pandas-datareader 0.9.0
    Uninstalling pandas-datareader-0.9.0:
      Successfully uninstalled pandas-datareader-0.9.0
Successfully installed pandas-datareader-0.10.0

In [ ]:
import pandas_datareader.data as web

In [ ]:
code_all = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)

In [ ]:
code_df = code_all[0]

In [ ]:
code_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2499 entries, 0 to 2498
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회사명     2499 non-null   object
 1   종목코드    2499 non-null   int64
 2   업종      2499 non-null   object
 3   주요제품    2482 non-null   object
 4   상장일     2499 non-null   object
 5   결산월     2499 non-null   object
 6   대표자명    2499 non-null   object
 7   홈페이지    2348 non-null   object
 8   지역      2499 non-null   object
dtypes: int64(1), object(8)
memory usage: 175.8+ KB

In [ ]:
code_df.head()

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,DL,210,기타 금융업,지주회사,1976-02-02,12월,전병욱,http://www.dlholdings.co.kr,서울특별시
1,DRB동일,4840,고무제품 제조업,"고무벨트(V벨트,콘베이어벨트,평벨트),프라스틱제품 제조,판매",1976-05-21,12월,류영식,http://drbworld.com,부산광역시
2,DSR,155660,1차 비철금속 제조업,합섬섬유로프,2013-05-15,12월,홍석빈,http://www.dsr.com,부산광역시
3,GS,78930,기타 금융업,지주회사/부동산 임대,2004-08-05,12월,"허태수, 홍순기 (각자 대표이사)",NaN,서울특별시
4,KG케미칼,1390,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제",1989-08-25,12월,"곽정현, 김재익",http://www.kgchem.co.kr,울산광역시

In [ ]:
name='삼성전자'
code= code_df.query("회사명 == '{}'".format(name))

In [ ]:
code

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
43,삼성전자,5930,통신 및 방송 장비 제조업,"IMT2000 서비스용 동기식 기지국,교환국장비,데이터단말기,동영상휴대폰,핵심칩,반...",1975-06-11,12월,"한종희, 경계현",http://www.sec.co.kr,경기도

In [ ]:
data = {'age':[10,10,21,22], 'weight':[20,30,60,70]}
df_ = pd.DataFrame(data)
df_

   age  weight
0   10      20
1   10      30
2   21      60
3   22      70

In [ ]:
str_exper= 'age in [21,22]'

In [ ]:
df_.query(str_exper)

   age  weight
2   21      60
3   22      70

In [ ]:
str_exper= 'age!=10'

In [ ]:
df

In [ ]:
ages=10
str_exper = f'age=={ages}'

In [ ]:
df_.query(str_exper)

   age  weight
0   10      20
1   10      30

In [ ]:
type(code)

pandas.core.frame.DataFrame

In [ ]:
code_number = code['종목코드'].to_string(index=False)

In [ ]:
target_code= '{:06d}'.format(int(code_number))+'.KS'

In [ ]:
target_code

'005930.KS'

In [ ]:
start = datetime(2021, 1,1)
end = datetime(2021, 12,31)

In [ ]:
df_yahoo = web.get_data_yahoo(target_code, start, end)
df_yahoo

               High      Low     Open    Close      Volume     Adj Close
Date
2021-01-04  84400.0  80200.0  81000.0  83000.0  38655276.0  81092.078125
2021-01-05  83900.0  81600.0  81600.0  83900.0  35335669.0  81971.382812
2021-01-06  84500.0  82100.0  83300.0  82200.0  42089013.0  80310.453125
2021-01-07  84200.0  82700.0  82800.0  82900.0  32644642.0  80994.359375
2021-01-08  90000.0  83000.0  83300.0  88800.0  59013307.0  86758.742188
...             ...      ...      ...      ...         ...           ...
2021-12-24  80800.0  80200.0  80200.0  80500.0  12086380.0  79725.992188
2021-12-27  80600.0  79800.0  80600.0  80200.0  10783368.0  79428.882812
2021-12-28  80400.0  79700.0  80200.0  80300.0  18226325.0  79527.921875
2021-12-29  80200.0  78500.0  80200.0  78800.0  19794795.0  78394.773438
2021-12-30  79500.0  78100.0  78900.0  78300.0  14236700.0  77897.343750

[248 rows x 6 columns]

# 4

In [ ]:
df = df_yahoo.reset_index()

In [ ]:
df

          Date     High      Low     Open    Close      Volume     Adj Close
0   2021-01-04  84400.0  80200.0  81000.0  83000.0  38655276.0  81092.078125
1   2021-01-05  83900.0  81600.0  81600.0  83900.0  35335669.0  81971.382812
2   2021-01-06  84500.0  82100.0  83300.0  82200.0  42089013.0  80310.453125
3   2021-01-07  84200.0  82700.0  82800.0  82900.0  32644642.0  80994.359375
4   2021-01-08  90000.0  83000.0  83300.0  88800.0  59013307.0  86758.742188
..         ...      ...      ...      ...      ...         ...           ...
243 2021-12-24  80800.0  80200.0  80200.0  80500.0  12086380.0  79725.992188
244 2021-12-27  80600.0  79800.0  80600.0  80200.0  10783368.0  79428.882812
245 2021-12-28  80400.0  79700.0  80200.0  80300.0  18226325.0  79527.921875
246 2021-12-29  80200.0  78500.0  80200.0  78800.0  19794795.0  78394.773438
247 2021-12-30  79500.0  78100.0  78900.0  78300.0  14236700.0  77897.343750

[248 rows x 7 columns]

In [ ]:
df.astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  """Entry point for launching an IPython kernel.

                    Date   High    Low   Open  Close    Volume  Adj Close
0    1609718400000000000  84400  80200  81000  83000  38655276      81092
1    1609804800000000000  83900  81600  81600  83900  35335669      81971
2    1609891200000000000  84500  82100  83300  82200  42089013      80310
3    1609977600000000000  84200  82700  82800  82900  32644642      80994
4    1610064000000000000  90000  83000  83300  88800  59013307      86758
..                   ...    ...    ...    ...    ...       ...        ...
243  1640304000000000000  80800  80200  80200  80500  12086380      79725
244  1640563200000000000  80600  79800  80600  80200  10783368      79428
245  1640649600000000000  80400  79700  80200  80300  18226325      79527
246  1640736000000000000  80200  78500  80200  78800  19794795      78394
247  1640822400000000000  79500  78100  78900  78300  14236700      77897

[248 rows x 7 columns]

In [ ]:
df_yahoo.astype(float)

               High      Low     Open    Close      Volume     Adj Close
Date
2021-01-04  84400.0  80200.0  81000.0  83000.0  38655276.0  81092.078125
2021-01-05  83900.0  81600.0  81600.0  83900.0  35335669.0  81971.382812
2021-01-06  84500.0  82100.0  83300.0  82200.0  42089013.0  80310.453125
2021-01-07  84200.0  82700.0  82800.0  82900.0  32644642.0  80994.359375
2021-01-08  90000.0  83000.0  83300.0  88800.0  59013307.0  86758.742188
...             ...      ...      ...      ...         ...           ...
2021-12-24  80800.0  80200.0  80200.0  80500.0  12086380.0  79725.992188
2021-12-27  80600.0  79800.0  80600.0  80200.0  10783368.0  79428.882812
2021-12-28  80400.0  79700.0  80200.0  80300.0  18226325.0  79527.921875
2021-12-29  80200.0  78500.0  80200.0  78800.0  19794795.0  78394.773438
2021-12-30  79500.0  78100.0  78900.0  78300.0  14236700.0  77897.343750

[248 rows x 6 columns]

In [ ]:
df.set_index('Date')

               High      Low     Open    Close      Volume     Adj Close
Date
2021-01-04  84400.0  80200.0  81000.0  83000.0  38655276.0  81092.078125
2021-01-05  83900.0  81600.0  81600.0  83900.0  35335669.0  81971.382812
2021-01-06  84500.0  82100.0  83300.0  82200.0  42089013.0  80310.453125
2021-01-07  84200.0  82700.0  82800.0  82900.0  32644642.0  80994.359375
2021-01-08  90000.0  83000.0  83300.0  88800.0  59013307.0  86758.742188
...             ...      ...      ...      ...         ...           ...
2021-12-24  80800.0  80200.0  80200.0  80500.0  12086380.0  79725.992188
2021-12-27  80600.0  79800.0  80600.0  80200.0  10783368.0  79428.882812
2021-12-28  80400.0  79700.0  80200.0  80300.0  18226325.0  79527.921875
2021-12-29  80200.0  78500.0  80200.0  78800.0  19794795.0  78394.773438
2021-12-30  79500.0  78100.0  78900.0  78300.0  14236700.0  77897.343750

[248 rows x 6 columns]

In [ ]:
#준혁님
yr = df.get('Yr')
mo = df.get('Mo')
dy = df.get('Dy')
date_list = []
for i in range(len(yr)):
    date_text = str(1900+yr[i]+'-'+str(mo[i])+'.'+str(dy[i])
    date_list.append(date_text)
df['Dater']= date_list
df2 = df.drop(['Yr', 'Mo','Dy'],axis=1)
df2.set_index('Dater')

SyntaxError: ignored

In [ ]:
ls

drive/  sample_data/

In [ ]:
ls ./drive/MyDrive/wind_*

./drive/MyDrive/wind_data.txt

In [ ]:
df = pd.read_table('./drive/MyDrive/wind_data.txt', sep='\s+')

In [ ]:
df.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Yr      6574 non-null   int64
 1   Mo      6574 non-null   int64
 2   Dy      6574 non-null   int64
 3   RPT     6568 non-null   float64
 4   VAL     6571 non-null   float64
 5   ROS     6572 non-null   float64
 6   KIL     6569 non-null   float64
 7   SHA     6572 non-null   float64
 8   BIR     6574 non-null   float64
 9   DUB     6571 non-null   float64
 10  CLA     6572 non-null   float64
 11  MUL     6571 non-null   float64
 12  CLO     6573 non-null   float64
 13  BEL     6574 non-null   float64
 14  MAL     6570 non-null   float64
dtypes: float64(12), int64(3)
memory usage: 770.5 KB

In [ ]:
df=df.applymap(str)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Yr      6574 non-null   object
 1   Mo      6574 non-null   object
 2   Dy      6574 non-null   object
 3   RPT     6574 non-null   object
 4   VAL     6574 non-null   object
 5   ROS     6574 non-null   object
 6   KIL     6574 non-null   object
 7   SHA     6574 non-null   object
 8   BIR     6574 non-null   object
 9   DUB     6574 non-null   object
 10  CLA     6574 non-null   object
 11  MUL     6574 non-null   object
 12  CLO     6574 non-null   object
 13  BEL     6574 non-null   object
 14  MAL     6574 non-null   object
dtypes: object(15)
memory usage: 770.5+ KB

In [ ]:
df['DAT']='19'+df['Yr']+'-'+df['Mo']+'-'+df['Dy']

In [ ]:
df['DAT']

0         1961-1-1
1         1961-1-2
2         1961-1-3
3         1961-1-4
4         1961-1-5
           ...
6569    1978-12-27
6570    1978-12-28
6571    1978-12-29
6572    1978-12-30
6573    1978-12-31
Name: DAT, Length: 6574, dtype: object

In [ ]:
df.drop(['Yr','Mo','Dy'], axis=1)

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,DAT
0,15.04,14.96,13.17,9.29,nan,9.87,13.67,10.25,10.83,12.58,18.5,15.04,1961-1-1
1,14.71,nan,10.83,6.5,12.62,7.67,11.5,10.04,9.79,9.67,17.54,13.83,1961-1-2
2,18.5,16.88,12.33,10.13,11.17,6.17,11.25,nan,8.5,7.67,12.75,12.71,1961-1-3
3,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-1-4
4,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-1-5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.0,17.21,40.08,1978-12-27
6570,13.21,5.46,13.46,5.0,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46,1978-12-28
6571,14.0,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.5,16.42,18.88,29.58,1978-12-29
6572,18.5,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79,1978-12-30
6573,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,1978-12-31

In [ ]:
df = df[['DAT','RPT','VAL','ROS','KIL','SHA','BIR','DUB','CLA','MUL','CLO','BEL','MAL']]

In [ ]:
df

,DAT,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-1-1,15.04,14.96,13.17,9.29,nan,9.87,13.67,10.25,10.83,12.58,18.5,15.04
1,1961-1-2,14.71,nan,10.83,6.5,12.62,7.67,11.5,10.04,9.79,9.67,17.54,13.83
2,1961-1-3,18.5,16.88,12.33,10.13,11.17,6.17,11.25,nan,8.5,7.67,12.75,12.71
3,1961-1-4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-1-5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,1978-12-27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.0,17.21,40.08
6570,1978-12-28,13.21,5.46,13.46,5.0,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978-12-29,14.0,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.5,16.42,18.88,29.58
6572,1978-12-30,18.5,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978-12-31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

교수님 방법

In [ ]:
df.Yr.unique()

array([61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77,
       78])

In [ ]:
df.Yr.astype(str)

0       61
1       61
2       61
3       61
4       61
        ..
6569    78
6570    78
6571    78
6572    78
6573    78
Name: Yr, Length: 6574, dtype: object

In [ ]:
df.Yr.astype(str)+'-'+df.Mo.astype(str)+'-'+df.Dy.astype(str)

0         61-1-1
1         61-1-2
2         61-1-3
3         61-1-4
4         61-1-5
          ...
6569    78-12-27
6570    78-12-28
6571    78-12-29
6572    78-12-30
6573    78-12-31
Length: 6574, dtype: object

In [ ]:
df['yr_mo_dy']= df.Yr.astype(str)+'-'+df.Mo.astype(str)+'-'+df.Dy.astype(str)

In [ ]:
df.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,yr_mo_dy
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,61-1-1
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,61-1-2
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,61-1-3
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,61-1-4
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,61-1-5

In [ ]:
df['times']= pd.to_datetime(df.yr_mo_dy)

In [ ]:
df.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,yr_mo_dy,times
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,61-1-1,2061-01-01
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,61-1-2,2061-01-02
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,61-1-3,2061-01-03
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,61-1-4,2061-01-04
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,61-1-5,2061-01-05

In [ ]:
df.times.dt.year.unique()

array([2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071,
       1972, 1973, 1974, 1975, 1976, 1977, 1978])

In [ ]:
df.loc[0,'times'].year

2061

In [ ]:
df.loc[0,'times'].month

1

In [ ]:
df.loc[0,'times'].day

1

In [ ]:
def year_adjust(x):
    if x.year>1980 : 
        year = x.year-100
    else: 
        year = x.year
    return pd.to_datetime(datetime.date(year, x.month, x.day))

In [ ]:
df['YMD'] = df.times.apply(year_adjust)

TypeError: ignored